---
title: Interested in running?
permalink: about/election/campaign
---
<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h1 id="interested-in-running">Interested in running?</h1>

                @if (DotnetFoundationWeb.AppSettings.IsCampaignOpen)
                {
                    <p>That's great! Here's the information you need to decide if you'd like to move forward.</p>
                }
                else
                {
                    <p><strong>The deadline has passed for new candidates to join the election. Board members serve for two years, with elections every year, so start thinking about whether you’d like to run for a board seat next year.</strong></p>
                }

                <h2 id="who-can-run-for-a-board-seat">Who Can Run for a Board Seat?</h2>

                <p>
                    Any <a href="/blog/2019/01/14/why-you-should-join-part-1-join-as-a-voting-member">voting member</a>
                    can run for a board seat. That’s anyone who’s contributed to a .NET Foundation project and <a href="member/become-a-member">applied for membership</a>.
                    Contributions may include code contributions, documentation, or other significant project contribution, including evangelism, teaching, code, organizing events, etc.
                    If in doubt, please ask us at contact@dotnetfoundation.org!
                </p>

                <h2 id="who-should-run-for-the-board">Who Should Run for The Board?</h2>

                <p>
                    Well, we need seven people to run the show. We’d love to see seven people with different viewpoints and experiences.
                    <strong>
                        We’d love to see a lot of diversity! We’d love to see people who represent different development backgrounds and concerns – not just .NET open source veterans,
                        but people who speak for students, startups, new developers, corporate developers. We’d love to see folks who speak for different platforms, operating systems,
                        web, desktop, games, IoT. We’d love to see people we haven’t thought to ask.
                    </strong>
                    The board is seven people instead of one because we need more viewpoints.
                </p>

                <p>
                    If you’ve had long conversations on Twitter, at conferences, or with developer friends about the way .NET open source ought to be, you’ve got an important viewpoint,
                    and this is where you can make that change.
                </p>

                <h2 id="whats-expected-of-board-members">What’s Expected of Board Members?</h2>

                <p>The board actively manages the foundation and gets involved in new initiatives. Here’s what that looks like:</p>

                <ul>
                    <li>Monthly meetings with the board and executive director to keep up with what’s going on and set plans</li>
                    <li>Review and approve requests for new projects to join</li>
                    <li>Own one of the committees, ensuring the committee is holding regular meetings and reporting back to the community and board.</li>
                    <li>A commitment to dedicate up to ten hours per month on Board responsibilities</li>
                </ul>

                <p>
                    <strong>Run committees and get stuff done! Committees are an area where you can really have a personal impact on things you really care about.</strong>
                    This includes four standing committees, membership, projects, outreach, and marketing. We have a budget and a community that wants to get involved,
                    so it’s not about you signing up for a lot of work here, it’s mostly about vision, planning and organizing.
                </p>

                <h2 id="im-interested-in-running-but-im-not-sure-i-can-do-it">I’m Interested in Running, But I’m Not Sure I Can Do It…</h2>
                <p>The Nomination Committee will review each nomination; considerations may include:</p>
                <ul>
                    <li>Prior leadership role within the .NET Foundation or other open source communities (e.g., Board Director, Project Leader, Committee chair, etc.)</li>
                    <li>Meaningful engagements in open source communities</li>
                    <li>Recent active involvement in the .NET community</li>
                    <li>A commitment to dedicate up to ten hours per month on Board responsibilities</li>
                </ul>
                <p>
                    While .NET and programming are highly technical things, the board of the .NET Foundation isn't a technical role. We need people 
                    who can organize, lead programs, create change, and bring their experiences to define and execute the .NET Foundation's mission.
                </p>
                <p>
                    If there’s something preventing you from joining the .NET Foundation as a voting member to be eligible to run in the election, talk to us! Our
                    <a href="/blog/2019/01/14/why-you-should-join-part-1-join-as-a-voting-member">previous post on joining as a voting member</a>
                    hopefully explains why contributions or dues shouldn’t get in your way.
                </p>

                <h2 id="okay-im-in-what-do-i-do-next">Okay, I’m In! What Do I Do Next?</h2>

                <p>
                    You’ll need to submit a nomination form to let us know you're interested. The Nomination Committee will review all submissions to 
                    select a slate of candidates for the election. Everyone will get a response before July 7, when the candidate will be announced.
                </p>


                @if (DotnetFoundationWeb.AppSettings.IsCampaignOpen)
                {
                    <p>
                        <a href="https://forms.microsoft.com/Pages/ResponsePage.aspx?id=3G8HFsH8FUqxyjLJolWQDtxAVwyU3HJJo4I9O9ugmk9UMzVFWFIyRlhMV1pBTVlBMFIzWTM0UzRMSS4u" target="_blank" class="site-button site-button--pink">Submit my nomination</a>
                    </p>
                }

                <p>Got questions? Feel free to reach out to us at <a href="mailto:contact@dotnetfoundation.org">contact@dotnetfoundation.org</a>.</p>
            </div>
        </div>
    </div>
</section>
