---
title: Campaign Statements
permalink: about/election/candidates
---

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">

@if (Inputs.FilterSources("about/election/campaign-2020/*").Count() == 0)
{
    <h3>We're just getting started!</h3>

    <p>
        We just launched the election and are waiting for our first election statements.
        Interested in <a href="about/election/campaign">joining the race?</a>
    </p>
}
else
{
    <h3 id="here-are-the-campaign-statements-for-our-candidates">Here are the campaign statements for our candidates.</h3>
    <p>Check out the <a href="about/election/campaign">details</a> on how the process works.</p>

    <section class="card-container">
        @Html.Partial("../../_partials/_candidate-card.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
            .Flatten()
            .FilterSources("about/election/campaign-2020/*.md")
            )
    </section>
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        @* var cookieName = 'candidates';
        var cookie = Cookies.getJSON(cookieName); *@
        var ul = document.querySelector('section.card-container');

        var values = new Array();
        for (var i = 0; i < ul.children.length; i++) {
            values.push(Math.random() * i | 0);
        }
        @* console.log(cookie);
        if (cookie != null && values.length == cookie.values.length) {
            /* reset if candidate lengths change */
            values = cookie.values;
        } else {
            Cookies.set(cookieName, { values: values }, { expires: 1 /*days*/ });
        } *@

        for (var i = 0; i < values.length; i++) {
            ul.appendChild(ul.children[values[i] | 0]);
        }
    }, false);
</script>

            </div>
        </div>
    </div>
</section>
