---
title: Election Results | .NET Foundation
permalink: about/election/results
---

<h3 id="meet-your-2019-net-foundation-board-of-directors">Meet your 2020 .NET Foundation Board of Directors!<a class="anchorjs-link " href="#meet-your-2019-net-foundation-board-of-directors" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

<section class="card-container">
    @Html.Partial("../../_partials/_candidate-card.cshtml",
                    Outputs
                        .FromPipeline(nameof(Statiq.Web.Pipelines.Content))
                        .FilterSources("about/election/campaign-2020/*")
                        .Where(candidate => candidate.GetBool(SiteKeys.Elected))
                        .OrderBy(candidate => candidate.GetString(WebKeys.Title))
            )
</section>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var cookieName = 'candidates';
        var cookie = Cookies.getJSON(cookieName);
        var ul = document.querySelector('section.card-container');

        var values = new Array();
        for (var i = 0; i < ul.children.length; i++) {
            values.push(Math.random() * i | 0);
        }
        console.log(cookie);
        if (cookie != null && values.length == cookie.values.length) {
            /* reset if candidate lengths change */
            values = cookie.values;
        } else {
            Cookies.set(cookieName, { values: values }, { expires: 1 /*days*/ });
        }

        for (var i = 0; i < values.length; i++) {
            ul.appendChild(ul.children[values[i] | 0]);
        }
    }, false);
</script>
