@{
    Layout = @"/_Layout.cshtml";
}

<!-- Basic page layout -->
<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>
</section>