@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument sponsor in Model)
{
    <div class="corporate-sponsor-card">
        <figure class="corporate-sponsor-card__thumbnail">
            @if (!String.IsNullOrEmpty(sponsor.GetString("logo")))
            {
                <a href="@sponsor.GetString("url")" target="_blank">
                    <img src="@sponsor.GetString("logo")" alt="@sponsor.GetString("name")" />
                </a>
            }
            else
            {
                <img src="sponsor/dot_bot.png" alt="Default Dot Bot Image" />
            }
        </figure>
    </div>
}