<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    .NET Foundation Elections Results
                </h2>
                <p class="mx-auto">
                    We are excited to announce the results for the most recent Board of Directors election.
                </p>
                <div class="mx-auto justify-content-between site-button_row">
                    <a href="about/board-of-directors" class="site-button site-button--pink">Meet The New Board!</a>                  
                </div>
            </div>
        </div>
    </div>
</section>
