@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument member in Model)
{
    <div class="col-sm-6 col-md-3 profile">
        @if (!string.IsNullOrEmpty(member.GetString("image")))
        {
            <img class="rounded-image profile-image" width="120" height="120" alt="@member.GetString("title")"
                 src="assets/members/@member.GetString("image")">
        }
        else
        {
            <img class="rounded-image profile-image" width="120" height="120" alt="@member.GetString("title")"
                 src="img/dot_bot.png">
        }

        <h3 class="profile-name">@member.GetString("title")</h3>

        <div class="profile-intro">
            @Html.Raw(await member.GetContentStringAsync())
        </div>

        @if (!string.IsNullOrEmpty(member.GetString("twitter")))
        {
            <span>
                <a href="https://twitter.com/@member.GetString("twitter")">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    @@@member.GetString("twitter")
                </a>
            </span>
        }
    </div>
}
