[Bb]in/
[Bb]uild/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
[Tt]ools/
[Oo]utput/
![Tt]ools/packages.config
![Ii]nput/
nuget.exe
*.com
*.class
*.exe
*.o
*.so
*.user
Thumbs.db
_ReSharper*
*ReSharper.user
*dotCover
.JustCode
*.suo
.svn
.vs
ipch
*.ilk
*.sdf
*.opensdf
*.pdb
/*.~vsd
*UpgradeWizard*
.vs/*
TestResult.xml
/debug.log
/packages.xml
*.ncrunch*
.*crunch*.local.xml
/_NCrunch_Statiq.Framework
.vscode
*.pfx
projects-content.json
.idea/
.DS_Store
/cache

functions/node_modules/
input/api/issues/index.js
input/api/issues/index.js.map
input/api/project-spotlight/index.js
input/api/project-spotlight/index.js.map
functions/local.settings.json
input/api/project-spotlight/DotNetNuke.json
