<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseRef" value="/"/>
    <add key="ContactEmail" value="contact@dotnetfoundation.org"/>
    <add key="ServerUrl" value="https://dotnetfoundation.org"/>
    <add key="SiteTitle" value=".NET Foundation" />
    <add key="SiteDescription" value="This is your .NET Foundation!"/>
    <add key="GoogleAnalytics" value="UA-57261022-1"/>
    <add key="lang" value="en-US"/>
    <add key="IsCampaignOpen" value="false"/> <!-- true or false -->
    <add key="ShowCampaignResults" value="true"/>
    <add key="ContributionsCounter" value="100000"/>
    <add key="CompaniesCounter" value="3700"/>
    <add key="ActiveProjectsCounter" value="556"/>
    <add key="ResourcesCounter" value="59275"/>
    <!-- Turn on to speed up processing for development/writing -->
    <add key="SuppressSpeakers" value="false"/>
    <add key="SuppressProjects" value="false"/>
  </appSettings>
</configuration>
