---
title: Become a Member of the .NET Foundation
permalink: /become-a-member
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Contributor? Become a member!
                </h1>
                <p>Anyone who has contributed to a .NET Foundation project can apply to become a member.</p>
                <p>Contributions may include code contributions, documentation, or other significant project contribution, including evangelism, teaching, code, organizing events, etc. If in doubt, please ask us at <a href="mailto:contact@dotnetfoundation.org">contact@dotnetfoundation.org</a>!</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-12 text-left">
                <h2>
                    How to join
                </h2>
                <ul>
                    <li>
                        Any individual contributor to a .NET Foundation project can apply to become a member.
                        Contributions may include code contributions, documentation, or other significant project
                        contribution, including evangelism, teaching, code, organizing events, etc. If in doubt,
                        please ask us at <a href="mailto:contact@dotnetfoundation.org">contact@dotnetfoundation.org</a>
                    </li>
                    <li>
                        Upon approval, members will be notified with information on completing their membership.
                        We request members pay suggested $100 annual dues, with liberal waivers for students or financial hardship.
                        Individual member dues help support our operations and activities, but are voluntary - you can set your own amount, 
                        or opt-out entirely. We don't tie an individual's payment to his or her membership rights and privileges. We don't 
                        want dues to be an obstacle for anyone who is interested in getting involved.
                    </li>
                    <li>
                        Each year, we’ll host an election for the board of directors. Any active member can
                        campaign for a one year term, based on their community standing, plans to advance the .NET
                        open source ecosystem, and past performance in case they are seeking reelection.
                    </li>
                    <li>
                        Each .NET Foundation member can vote in the election.
                    </li>
                </ul>
                <p>
                    Just fill out the form below to let us know how you've contributed to one or more .NET Foundation
                    projects. Please be specific - don't just link to a project, link to individual commits, pull requests,
                    or other individual contributions.
                </p>
                <iframe width="100%" height="4000px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=3G8HFsH8FUqxyjLJolWQDu3r3uMrwH1HjiQupxbALB5UN1dWNDJEVlBFWFlKWjc3WTAzSjlWM1JQQS4u&amp;embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" msallowfullscreen=""> </iframe>
            </div>
        </div>
    </div>
</section>
