---
permalink: /corporate-membership
title: Corporate Membership | .NET Foundation
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Corporate Membership
                </h1>
                <p class="mx-auto">
                    Corporate Membership enables the .NET Foundation to provide services for member projects.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
               TODO: Put content here 
            </div>
        </div>
    </div>
</section>
