---
layout: _layout
permalink: /corporate-sponsors
title: Corporate Sponsors
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Corporate Sponsors
                </h2>
                <p class="mx-auto">
                    Corporate Sponsorships enable the .NET Foundation to achieve its mission independently from any single company.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <p> 
                    We're inviting the .NET community to take an active role in guiding and supporting the .NET Foundation,
                    and that includes both individual open source developers and businesses that depend on .NET open source.
                    We think it's really important to involve corporate sponsors as a key part of this change for three reasons.
                </p>
                <p>
                    First, for the .NET Foundation to really be independent and community run, it needs to be independently funded.
                    In the past, we've depended on (greatly appreciated!) donations from Microsoft. Today, we're be funded by
                    Corporate Sponsorships and Member Dues.
                </p>
                <p>
                    Secondly, Corporate Sponsorship really expands what the .NET Foundation can do. 
                    We can invest in what our members and projects really care about to further support the ecosystem at a greater scale, and to future-proof the .NET platform.
                </p>
                <p>
                    Third, Corporate Sponsorship directly involves the .NET corporate world in the .NET open source ecosystem, which is
                    important! We'll have input from companies that depend on .NET open source, we'll be able to tackle some hard problems
                    like how companies can be involved in sustainable community run open source projects.
                </p>
                <p>
                    If you're interested in learning more about the sponsorship program, get in touch: <a href="mailto:contact@dotnetfoundation.org">contact@dotnetfoundation.org</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light" id="corporate-sponsors">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Corporate Sponsors</h2>
                <p>These companies are helping drive the future of .NET. </p>
                <div class="corporate-sponsor-card-container">
                    @Html.Partial("../_partials/_corporate-sponsor-logo-card.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                      .Flatten()
                      .FilterSources("corporate-sponsors/*.md")
                      .OrderBy(sponsor => sponsor.GetInt("order"))
                      )
                </div>
            </div>
        </div>
    </div>
</section>