---
permalink: /corporate-membership
title: Corporate Membership | .NET Foundation
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Corporate Membership
                </h1>
                <p class="mx-auto">
                    Corporate Membership enables the .NET Foundation to provide services for member projects.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
               <h2>Become a Corporate Member of the .NET Foundation</h2>
               
               <p>The .NET Foundation Corporate Membership provides companies with a way to show their commitment to .NET Open Source Software.</p>

               <h2>Why join the .NET Foundation?</h2>
               <p>Corporate Membership in the .NET Foundation directly supports new initiatives for member projects.  Services like design and documentation resources can be made available with your membership.  This will help your corporation get better value from the .NET Foundation projects you consume.</p>

               <p>By joining as a Corporate Member you will be listed in our Corporate Member Directory.  This searchable directory will list member corporations and provide a link to your marketing content.  This will allow you to be found on the .NET Foundation website.</p>

               <p>Your membership will also provide you with access to .NET Foundation marketing opportunities.  Sponsor a blog about your Corporations contributions to the Open Source Community.  Blast social media outlets with information about upcoming Corporation sponsorted events.  Submit articles to the newsletter.</p>
               
                <ol>
                <li>Join .NET Open Source enthusiasts from around the world as members of the .NET Foundation.</li>
                <li>Help the .NET Foundation offer new services to member projects.</li>
                <li>Engage with other .NET Foundation members advancing the Open Source Community.</li>
                </ol>

                <h2>Why Corporate Memebership?</h2>
                <p>We understand that not everyone can commit to the levels of a Corporate Sponsor.  To accomodate this, and to get more members that have a vested interest in the future of .NET Open Source, we are looking to get more Corporations involved in the .NET Foundation.</p>
                <p>With a Corporate Membership you are becoming a vested part of the future and growth of the .NET Foundation.  Your Corporation can proudly show it's commitment to the future of .NET Open Source Software by getting involved in the .NET Foundation memebership.</p>

                <ol>
                <li>Any Corporation is eligible to become a member.</li>
                <li>All member Corporations would have at least one representative from their company as their member.</li>
                </ol>

                <h2>Sign Up</h2>
                <p>For a $1,500 USD investment annually, you can join the Corporate Membership program and help the .NET Foundation increase our support of the .NET Open Source Community.</p>
            </div>
        </div>
    </div>
</section>
