---
permalink: /corporate-membership
title: Corporate Membership | .NET Foundation
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Corporate Membership
                </h1>
                <p class="mx-auto">
                    Corporate Membership enables the .NET Foundation to provide services for member projects.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
               <h2>Announcing: .NET Foundation Corporate Memberships</h2>
               
               <p>Open Source Software is the dominant force in software development. Every organization and corporation uses and benefits from open source software. From Chipotle to UPS to Stack Overflow, all are using it to further their technology. Many organizations rely on open source to stay viable in the ever-changing technology landscape.</p>

               <p>.NET Foundation exists to further the mission of commercially viable open source software.</p>

               <p>To ensure there’s availability of open source software, we all need to do our part to support the software ecosystem.</p>

               <h2>Corporate Membership Tier</h2>
               <p>Corporate Memberships provide a much-needed funding source that will enable financial support for open source project resources including:</p>
               
                <ul>
                    <li><b>Documentation writers</b>: Documentation is an important part of consuming software.  Hiring documentation writers for open source projects, to help consumption.</li>
                    <li><b>Localization</b>: Supporting localization for documentation makes it easier for consumers in different locales.</li>
                    <li><b>UX and design</b>: Branding and site design will help make open source projects more approachable.</li>
                    <li><b>Website support</b>: Help to make projects more appealing and discoverable.</li>
                    <li><b>Security audits</b>: Keep software we consume secure.</li>
                    <li><b>Professional services:</b> Provide legal, trademark and other services for projects trying to establish an identity.</li>
                </ul>

                <h2>Sponsorship or Membership? </h2>
                <p>Corporate Sponsorships are the funds required to run the .NET Foundation and help with .NET Foundation projects.</p>
                <p>Corporate Memberships are much lower cost and are the funds used to provide additional support for all .NET Foundation open source projects.</p>

                <h2>Become a Corporate Member Today</h2>
                <p>Corporate Memberships cost $1,500 USD per year. Participating companies receive inclusion in an online directory on the .NET Foundation site, plus a special logo to show your support for .NET Foundation open source projects.</p>
                <p>Any and all companies interested in the promotion and growth of .NET open source projects is encouraged to join.</p>

            </div>
        </div>
    </div>
</section>
