---
permalink: /corporate-membership
title: Corporate Membership | .NET Foundation
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Corporate Membership
                </h1>
                <p class="mx-auto">
                    Corporate Membership enables the .NET Foundation to provide services for member projects.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">               
               <p>Open source is the dominant, driving force in software development today. Millions of organizations and corporations
                 around the world rely on open source to drive innovation and stay viable in the ever-changing high technology landscape.</p>

               <p>The .NET Foundation's new <strong><em>Corporate Memberships</em></strong> membership tier will provide financial support 
               for the Foundation's open source projects including:</p>
                <ul>
                    <li><b>Documentation writers</b>: Documentation is an important part of consuming software.  Hiring documentation writers for open source projects, to help consumption.</li>
                    <li><b>Localization</b>: Supporting localization for documentation makes it easier for consumers in different locales.</li>
                    <li><b>UX and design</b>: Branding and site design will help make open source projects more approachable.</li>
                    <li><b>Website support</b>: Help to make projects more appealing and discoverable.</li>
                    <li><b>Security audits</b>: Keep software we consume secure.</li>
                    <li><b>Professional services:</b> Provide legal, trademarks, public relations, and more!</li>
                </ul>


                <p><strong><em>Corporate Memberships</em></strong> dues will be <strong><em>$1,500</em></strong> per year. 
                Participating companies will receive inclusion in an online directory on the .NET Foundation site and a 
                special logo to show your support for .NET Foundation open source projects. Any company or organization 
                that is interested in the promotion and growth of .NET opensource projects should be involved in this growing, 
                exciting, and evolving community.</p>

                <p>The distinction between the new Corporate Membership and current Corporate Sponsorships are as follows:</p>
                <ul>
                    <li>Corporate Sponsorships <em>are</em> the funds necessary to run the .NET Foundation Operations and Infrastructure.</li>
                    <li>The new Corporate Membership dues will be an additional funding source that will supplement the Operational funds of the Foundation utilized to support the maintainers, enhance the health of the ecosystem and provide project specific services on a larger scale for .NET.</li>
                </ul>

                <p>The .NET Foundation exists to further the mission of commercially viable open-source software. 
                    Help us to further and ensure the availability of open-source software for all. We all need to do 
                    our part to support the open source software ecosystem; so, come join us today!</p>

                <p>Fill out the form below to show your support for the .NET Foundation and join as a <strong><em>Corporate Membership</em></strong>:</p>
                
                <iframe width="100%" height="4000px" src="https://virtual.tfaforms.net/187" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; height:3850px;" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" msallowfullscreen="" title="Become a Corporate Member of the .NET Foundation"> </iframe>
            </div>
        </div>
    </div>
</section>

  <script src="https://virtual.tfaforms.net/js/iframe_resize_helper.js" crossorigin="anonymous" data-no-mirror=data-no-mirror></script>