---
title: .NET Foundation
description: Independent. Innovative. And always open source.
permalink: /
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Independent. Innovative. And always open source.
                </h2>
                <p class="mx-auto">
                    Welcome to the .NET Foundation membership portal!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container text-left">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    The Benefits of Membership
                </h1>
                <p>
                    The .NET ecosystem is constantly evolving and growing, and we’ve seen incredible innovation in the last few years with more to come.
                    If you are passionate about the .NET ecosystem, then you should consider becoming a member. The way we see it, there are two major reasons to become a member.
                </p>
                <h4>Opportunity to influence</h4>
                <p>
                    As a member, you can partake in ongoing discussions, vote on the board of directors, directly help with one of the many action
                    groups and more. By providing a forum, influential contacts, a passionate community, consolidated resources, funds, we provide a
                    unified place where you can influence the .NET ecosystem in a variety of ways. We solve problems you care about, and we care about your opinion.
                </p>
                <h4>Stay up to date</h4>
                <p>
                    By being where it happens, you get to hear the news first. Even if you decide to take on a more passive member role, you can still access the
                    discussions and information, and stay up to date through reliable sources. The .NET Foundation is an independent organization, and we need
                    you to maintain this independence. By involving people that are passionate about .NET, that have different backgrounds and work for diverse
                    companies, and with independent funding, we can create a powerful organization that furthers sustainable open source, a diverse and open community,
                    and that helps evolve this incredible ecosystem that we are very passionate about.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    How to join
                </h2>
                <p>
                    Any individual contributor to a .NET Foundation project can apply to become a member. Contributions may include code contributions,
                    documentation, or other significant project contribution, including evangelism, teaching, code, organizing events, etc. If in doubt,
                    please ask us at contact@dotnetfoundation.org.
                </p>
                <p>
                    Upon approval, members will be notified with information on completing their membership. We’re requesting $100 annual dues,
                    with liberal waivers for students or financial hardship. Dues are voluntary - you can set your own amount or opt-out entirely.
                    We don't track individual payment. We don't want dues to be a blocker for anyone who is interested in getting involved.
                </p>
                <p>Each year, we’ll host an election for the board of directors. Any active member can nominate for a two-year term, based on their community standing, plans to advance the.NET open source ecosystem, and past performance in case they are seeking reelection.</p>
                <p>Each .NET Foundation member can vote in the election.</p>
                <p>Just fill out the <a href="/member/become-a-member">form</a> to let us know how you've contributed to one or more .NET Foundation projects. Please be specific - don't just link to a project, link to individual commits, pull requests, or other individual contributions.</p>
            </div>
        </div>
    </div>
</section>


