@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument candidate in Model)
{
    <article class="card">
        <header class="card__title">
            <h3>@candidate.GetString("title")</h3>
        </header>
        <figure class="card__thumbnail">
            @if (!String.IsNullOrEmpty(candidate.GetString("image")))
            {
                if (candidate.GetString("image").StartsWith("http"))
                {
                    <img src="@candidate.GetString("image")" />
                }
                else
                {
                    <img src="assets/members/@candidate.GetString("image")" />
                }
            }
            else
            {
                <img src="img/dot_bot.png" />
            }
        </figure>
        <a href="@Context.GetLink(candidate).Substring(1)" class="card__button">Learn More</a>
    </article>
}