<footer id="site-footer" class="sticky-bottom h-card">
    <data class="u-url" href="/"></data>
    <div id="site-footer_container" class="container">
        <div class="site-footer_row row">
            <div class="col-12 d-flex justify-content-between">
                <img src="/img/Logo_footer.png">
                <ul id="site-footer_menu" class="align-self-end">
                    <li><a href="/about/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/about/code-of-conduct">Code of Conduct</a></li>
                    <li><a href="https://github.com/dotnet/dotnetfoundation-website/issues">Site Problem?</a></li>
                </ul>
            </div>
        </div>
        <section class="site-social_container d-flex position-absolute">
            <div class="site-social_icon site-social_icon--rss">
                <a href="/api/rss">
                    <i class="fas fa-rss"></i>
                </a>
            </div>
            <div class="site-social_icon site-social_icon--twitter">
                <a href="https://twitter.com/dotnetfdn" title="Follow on Twitter @@dotnetfdn">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="site-social_icon site-social_icon--meetup">
                <a href="https://www.meetup.com/pro/dotnet/" title="Find us on Meetup">
                    <i class="fab fa-meetup"></i>
                </a>
            </div>
        </section>
    </div>
    <div id="site-footer_bookend" class="">
        <div class="site-footer_container container">
            <div class="site-footer_row row">
                <div class="col-12 d-flex justify-content-end">
                    <p class="site-footer_textSection">
                        &copy; @DateTime.Now.Year .NET Foundation and Contributors.
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <p class="site-footer_textSection">
                        You can <a href="https://github.com/dotnet/dotnetfoundation-website">contribute to this site on GitHub.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>