@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument member in Model)
{
    <div class="col-md-3">
        @if (!string.IsNullOrEmpty(member.GetString("image")))
        {
            <img class="rounded-image" width="120" height="120" alt="ProfilePicture"
                 src="assets/members/@member.GetString("image")">
        }
        else
        {
            <img class="rounded-image" width="120" height="120" alt="ProfilePicture"
                 src="img/dot_bot.png">
        }

        <h4 class="col-md-3-name">@member.GetString("title")</h4>
        @if (!string.IsNullOrEmpty(member.GetString("twitter")))
        {
            <span>
                <a href="https://twitter.com/@member.GetString("twitter")">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    @@@member.GetString("twitter")
                </a>
            </span>
        }

        <div class="col-md-3-body">
            @Html.Raw(await member.GetContentStringAsync())
        </div>
    </div>
}
