Enumerate: => Inputs.FilterSources(Context, "data/posts/*").Where(doc => string.Equals(doc.GetString("Visible"), "true", StringComparison.OrdinalIgnoreCase)).Select(x => x.GetDateTime("Published").ToString("yyyy/MM")).Distinct()
DestinationPath: => new FilePath($"blog/{Current}/index.html")
Title: => $"Post Archive - {Current}"
layout: _layout
---
<section class="page-section page-section">
  <div class="page-section_container container">
    <div class="page-section_row row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-9">
            @Html.Partial("_posts.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                .Flatten()
                .FilterSources(Context, "__data/posts/*")
                .Where(doc => string.Equals(doc.GetString("Visible"), "true", StringComparison.OrdinalIgnoreCase)
                  && doc.GetDateTime("Published").ToString("yyyy/MM").Equals(Model.GetString(Keys.Current)))
                .OrderByDescending(doc => doc.GetDateTime("Published")))
          </div>
          <div class="col-md-3">
            @Html.Partial("_archives.cshtml")
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
