Title: Blog
PageTitle: Recent Posts
layout: _layout
---
<div class="row">
    <div class="col-md-9">
        @Html.Partial("_posts.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
            .Flatten()
            .FilterSources(Context, "data/posts/*")
            .Where(doc => string.Equals(doc.GetString("Visible"), "true", StringComparison.OrdinalIgnoreCase))
            .OrderByDescending(doc => doc.GetDateTime("Published"))
            .Take(5))
    </div>
    <div class="col-md-3">
        @Html.Partial("_archives.cshtml")
    </div>
</div>
