---
title: .NET Foundation Board of Directors
permalink: /about/board-of-directors
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Board of Directors, Advisory Council & Administrative Team
                </h1>
                <p>The board completely runs the .NET Foundation. They decide how the money is spent, what projects join the foundation, what the Executive Director does, what programs the foundation will run or be involved with, what events we’ll sponsor. The board runs the foundation.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="board-of-directors">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 style="text-align: center;" >Board of Directors</h2>
                <div class="row">
                    @Html.Partial("../_partials/_member-small-card.cshtml",
                        Outputs[nameof(Statiq.Web.Pipelines.Content)]
                            .Flatten()
                            .FilterSources("about/election/campaign-2019/*")
                            .Where(candidate => candidate.GetBool("elected"))
                            .OrderBy(candidate => candidate.GetString("title"))
                    )
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light" id="team">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 style="text-align: center;" id="team">Our Team</h2>
                <div class="row">
                    @Html.Partial("../_partials/_team-member-card.cshtml",
                    Outputs[nameof(Statiq.Web.Pipelines.Content)]
                        .Flatten()
                        .FilterSources("about/team/*.md")
                        .OrderBy(candidate => candidate.GetInt("order"))
                    )
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="advisory-council">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 style="text-align: center;" id="advisory-council">.NET Advisory Council</h2>
                <div class="row">
                    @Html.Partial("../_partials/_member-small-card.cshtml",
                        Outputs[nameof(Statiq.Web.Pipelines.Content)]
                            .Flatten()
                            .FilterSources("about/advisory-council/*.md")
                            .OrderBy(candidate => candidate.GetInt("order"))
                            .ThenBy(candidate => candidate.GetString("title"))
                    )
                </div>
            </div>
        </div>
    </div>
</section>
