---
title: .NET Foundation FAQ
permalink: /about/faq
---
<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">                
                <div class="faq-title text-center">
                    <h2>FAQ</h2>
                </div>
                <div>
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                    <span class="badge">1</span>Why create the .NET Foundation?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        We were designed from the start as an independent forum to foster open development and collaboration across open source technologies for .NET.
                                        Our goal is to strengthen the .NET ecosystem through openness, rapid innovation, and community participation.
                                    </p>
                                    <p>.NET is bigger than just Microsoft and we want to see the platform survive for another 20 years – in the open. We want to collaborate with industry partners
                                    that will innovate with the community.</p>
                                    <p>We do this by supporting .NET open source projects backed by corporate sponsors and individuals alike. We help projects stay focused on producing high-quality
                                    software without the legal and administrative distractions and overhead so they can focus on helping contributors and writing code.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                    <span class="badge">2</span>Why not encourage .NET open source projects to join other foundations?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                <div class="card-body">
                                    <p>We certainly don't discourage it! Absolutely feel free to join any foundation you prefer. We will even happily facilitate those connections when we can. We are special in that we're the only foundation to focus exclusively on .NET. That means we can keep our focus narrow, and that our community shares the same skills, tools, and environments-so it's a good filter to know what you're getting.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                    <span class="badge">3</span>What license will .NET Foundation projects use?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                <div class="card-body">
                                    <p>The .NET Foundation is license-agnostic. Projects that come to the Foundation are free to choose any open source license, as defined by the Open Source Initiative. However, we do NOT believe that making software available under an open source license is sufficient. We expect our projects to accept contributions from the community where they clearly align with the project strategy.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                    <span class="badge">4</span>How are .NET Foundation projects governed?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                <div class="card-body">
                                    <p>It's incredibly important to have a clear governance model that describes how individuals and organizations can engage with a project. This ensures transparency, which is fundamental to our beliefs. The .NET Foundation does not prescribe a governance model for projects. However, we do work with project leads to ensure that they define and document an optimal model that matches the community's objectives.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-5">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                    <span class="badge">5</span>Will the Foundation influence which projects are accepted?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        All .NET Foundation projects are expected to contribute to the .NET ecosystem in some direct way.
                                        When evaluating project acceptance, we require that the project be directly related to .NET. We also look at the community health of the project to make
                                        sure it aligns to the .NET Foundation’s values and <a href="about/code-of-conduct">Code of Conduct</a>.
                                    </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>