---
title: .NET Foundation FAQ
permalink: /about/faq
---

<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h1>FAQ</h1>
                <p>
                    <strong>
                        <g class="gr_ gr_56 gr-alert gr_gramm gr_run_anim Grammar only-ins replaceWithoutSep" id="56" data-gr-id="56">
                            Why
                        </g> create the .NET Foundation?
                    </strong>
                </p>
                <p>
                    We were designed from the start as an independent forum to foster open development and collaboration across open source technologies for .NET.
                    Our goal is to strengthen the .NET ecosystem through openness, rapid innovation, and community participation.
                </p>
                <p>.NET is bigger than just Microsoft and we want to see the platform survive for another 20 years – in the open. We want to collaborate with industry partners
                that will innovate with the community.</p>
                <p>We do this by supporting .NET open source projects backed by corporate sponsors and individuals alike. We help projects stay focused on producing high-quality
                software without the legal and administrative distractions and overhead so they can focus on helping contributors and writing code.</p>


                <p><strong>Why not encourage .NET open source projects to join other foundations?</strong></p>
                <p>We certainly don't discourage it! Absolutely feel free to join any foundation you prefer. We will even happily facilitate those connections when we can. We are special in that we're the only foundation to focus exclusively on .NET. That means we can keep our focus narrow, and that our community shares the same skills, tools, and environments-so it's a good filter to know what you're getting.</p>
                <p><strong>What license will .NET Foundation projects use?</strong></p>
                <p>The .NET Foundation is license-agnostic. Projects that come to the Foundation are free to choose any open source license, as defined by the Open Source Initiative. However, we do NOT believe that making software available under an open source license is sufficient. We expect our projects to accept contributions from the community where they clearly align with the project strategy.</p>
                <p><strong>How <g class="gr_ gr_59 gr-alert gr_gramm gr_run_anim Punctuation multiReplace" id="59" data-gr-id="59">are .</g>NET Foundation projects governed?</strong></p>
                <p>It's incredibly important to have a clear governance model that describes how individuals and organizations can engage with a project. This ensures transparency, which is fundamental to our beliefs. The .NET Foundation does not prescribe a governance model for projects. However, we do work with project leads to ensure that they define and document an optimal model that matches the community's objectives.</p>
                <p><strong>Will the Foundation influence which projects are accepted?</strong></p>
                <p>
                    All .NET Foundation projects are expected to contribute to the .NET ecosystem in some direct way.
                    When evaluating project acceptance, we require that the project be directly related to .NET. We also look at the community health of the project to make
                    sure it aligns to the .NET Foundation’s values and <a href="about/code-of-conduct">Code of Conduct</a>.
                </p>
            </div>
        </div>
    </div>
</section>
