---
title: About the .NET Foundation
description: The .NET Foundation is an independent organization created to foster innovation, which we believe starts with open development and collaboration. It's also a forum for community and commercial developers to broaden and strengthen the future of the .NET ecosystem.
permalink: /about
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    What is the .NET Foundation?
                </h1>
                <p class="mx-auto">
                    The .NET Foundation is a 501(c)(6) non-profit organization, which was established to support an innovative,
                    commercially friendly, open-source ecosystem around the .NET platform.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-md-7 col-lg-8 text-left">
                <h2 id="what-we-do">
                    What we do
                </h2>
                <p>
                    The .NET Foundation supports .NET open source in several ways:
                </p>
                <ul>
                    <li>
                        Promote the broad spectrum of software available to .NET developers through NuGet.org,
                        GitHub, and other venues.
                    </li>
                    <li>
                        Advocate for the needs of .NET open source developers in the community.
                    </li>
                    <li>
                        Evangelize the benefits of the .NET platform to a wider community of developers.
                    </li>
                    <li>
                        Promote the benefits of the open source model to developers already using .NET.
                    </li>
                    <li>
                        Offer <a href="/projects/why-join">administrative support</a> for member projects.
                    </li>
                    <li>
                        Support .NET community events with sponsorship and content. 
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 offset-md-1 my-auto px-3 text-center">
                <img src="img/dot_bot.png" alt="Default Dot Bot Image"/>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 style="text-align:center;" id="how-you-can-get-involved">
                    How you can get involved
                </h2>
            </div>
        </div>
        <div class="page-section_row row">
            <div class="page-section_column page-section_column--narrow col-md-3 pad-fix--all text-center">
                <h3 style="font-size: 2.15rem">Projects</h3>
                <img src="img/comp.png" alt="Open Source Projects" class="community-image">
                <p style="min-height: 50px">
                    <!-- Projects -->
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/projects">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-3 pad-fix--all text-center">
                <h3 style="font-size: 2.15rem">Find a Meetup</h3>
                <img src="img/globe_icon.png" alt="Community" class="community-image">
                <p style="min-height: 50px">
                  <!--  Find a Meetup Description -->
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="https://www.meetup.com/pro/dotnet">Find a Meetup</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-3 pad-fix--all text-center">
                <h3 style="font-size: 2.15rem">Committees</h3>
                <img src="img/WorkingGroups.svg" alt="Working Groups" class="community-image">
                <p style="min-height: 50px">
                   <!-- Working Groups Description -->
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="/community/committees">Find out more</a>
                </div>
            </div>
            <div class="page-section_column page-section_column--narrow col-md-3 pad-fix--all text-center">
                <h3 style="font-size: 2.15rem">Apply for Membership</h3>
                <img src="img/MembershipApplication.svg" alt="Membership Application" class="community-image">
                <p style="min-height: 50px">
                   <!-- Apply for Membership Description -->
                </p>
                <div class="site-button_row">
                    <a class="site-button site-button--pink" href="member/become-a-member">Apply</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 style="text-align:center" id="more-about-the-net-foundation">
                    More about the .NET Foundation
                </h2>
                <div id="home-hero_buttons" class="mx-auto d-flex justify-content-between">
                    <a href="about/board-of-directors" class="site-button site-button--pink">Board of Directors</a>
                    <a href="member/corporate-sponsors" class="site-button site-button--pink">Corporate Sponsors</a>
                    <a href="about/board-of-directors#advisory-council" class="site-button site-button--pink">.NET Advisory Council</a>
                    <a href="community/committees" class="site-button site-button--pink">Committees page</a>
                    <a href="member/become-a-member" class="site-button site-button--pink">Apply for Membership</a>
                </div>
                <br />
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 id="contact-us">
                    Contact Us
                </h2>
                <p>
                    For any additional information, feel free to email <a href="email:contact@dotnetfoundation.org">contact@dotnetfoundation.org</a>
                </p>
            </div>
        </div>
    </div>
</section>
