---
title: .NET Foundation Survey
permalink: /about/survey
---

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
            <h3 style="text-align: center;">
                Thank you to everyone who took this year's survey! The survey was conducted via SurveyMonkey and you can view the <a href="https://www.surveymonkey.com/stories/SM-GDSVMB2C/">reports here</a>. The <a href="https://github.com/dotnet-foundation/wg-marketing/tree/main/Survey">raw data is also available</a>.
            </h3>
            </div>
        </div>
    </div>
</section>
