---
title: .NET Foundation Survey
permalink: /about/survey
---

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
            <h3 style="text-align: center;">
                Thank you so much for taking this year's survey! We will be providing a recap of our findings shortly.
            </h3>
            </div>
        </div>
    </div>
</section>
