---
title: .NET Foundation Survey
permalink: /about/survey-rules
---

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
               <main role="main" class="pb-3">
            

<div class="text-center">
    <h2>Swag bag giveaway rules</h2>
</div>
<div class="text-body">
    <p>
        <strong>NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN. VOID WHERE PROHIBITED.</strong>

        </p><ol type="1">
            <li>
                <strong>ELIGIBILITY.</strong> The .NET Conf “Swag Bag” (the “Promotion”) is open to .NET Conf viewers who are at least eighteen (18) years of age or the age of legal majority in his or her state or jurisdiction of primary residence at the time of submission (whichever is older) with access to the Internet.
                The Promotion is subject to all applicable federal, state, provincial and local laws and regulations. The Promotion is void wherever it may be prohibited or restricted by law.
                Participants must NOT be under any contractual or other legal obligation that would conflict with this Promotion or these Official Rules.
                Government employees, .NET Conf team and employees of the conference sponsors' company are not eligible.
            </li>
            <li>
                <strong>ENTRY PERIOD.</strong> The Promotion will begin on Monday, November 2, 2020 and end on Thursday, November 12 at 8:00 AM PT (the “Promotion Period”).
            </li>
            <li>
                <strong>ENTRY.</strong> To enter the Promotion, you must sign up on the <a href="/swag">Swag page</a>. After you complete this, you will be automatically entered into the Promotion (your “Entry”). 
                By entering the Promotion, you acknowledge your consent to receive communication from companies who provide the prizes and their affiliates. 
                You may unsubscribe from these marketing communications at any time via the links found in the communication itself.
            </li>
            <li>
                <strong>ODDS OF WINNING.</strong> The odds of winning will be determined by the number of eligible entries received.
            </li>
            <li>
                <strong>PRIZE.</strong> Any prize details not specified above will be determined by the companies providing the prizes in their sole discretion. 
                No cash or other substitution is allowed except by the companies providing the prizes, who may substitute a prize with another prize of equal or greater value, as determined by the company in its sole discretion. 
                The Prize is not redeemable for cash and is non-transferrable, except to a surviving spouse residing in the same household.
            </li>
            <li>
                <strong>NOTIFICATION AND REQUIREMENT OF WINNER.</strong> Winners will be announced during .NET Conf on Thursday, November 12, 2020 at or after 8:00 AM PT. 
                Winners will also be contacted via their email address. If Prize notification is returned as non-deliverable, or if a Winner is found not to be eligible or not in compliance with these Official Rules, disqualification will result, and an alternate Winner may be selected. 
                All taxes, including federal, state and local taxes, and other expenses related to accepting and/or using the Prize not listed in these Official Rules, are the sole responsibility of the Winner. 
                The Winner will also be required to comply with all applicable federal, state and local laws and regulations regarding the ownership of the Prize.
            </li>
        </ol>      

    <p></p>
    
</div>
        </main>
            </div>
        </div>
    </div>
</section>
