---
title: .NET Foundation Survey
permalink: /about/survey-rules
---

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
               <main role="main" class="pb-3">
            

<div class="text-center">
    <h2>Survey Prize Giveaway Rules</h2>
</div>
<div class="text-body">
    <p>
        <strong>NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN. VOID WHERE PROHIBITED.</strong>

        </p><ol type="1">
            <li>
                <strong>ELIGIBILITY.</strong> The .NET Foundation "Survey Prize Giveaway" (the "Promotion") is open to anyone who is at least eighteen (18) years of age or the age of legal majority in his or her state or jurisdiction of primary residence at the time of submission (whichever is older) with access to the Internet.
                The Promotion is subject to all applicable federal, state, provincial and local laws and regulations. The Promotion is void wherever it may be prohibited or restricted by law.
                Participants must NOT be under any contractual or other legal obligation that would conflict with this Promotion or these Official Rules.
                Government employees, .NET Foundation committee members, Board members, and employees are not eligible.
            </li>
            <li>
                <strong>ENTRY PERIOD.</strong> The Promotion will begin on Tuesday, November 10, 2020 and end on Wednesday, March 31, 2021 at 11:45 PM PT (the "Promotion Period").
            </li>
            <li>
                <strong>ENTRY.</strong> To enter the Promotion, you must complete the <a href="/about/survey">Survey</a> and enter your email address at the end. After you complete this, you will be automatically entered into the Promotion (your "Entry"). 
                By entering the Promotion, you acknowledge your consent to receive communication from the .NET Foundation. 
                You may unsubscribe from these marketing communications at any time via the links found in the communication itself.
            </li>
            <li>
                <strong>ODDS OF WINNING.</strong> The odds of winning will be determined by the number of eligible entries received.
            </li>
            <li>
                <strong>PRIZE.</strong> Any prize details not specified above will be determined by the .NET Foundation in its sole discretion. 
                No cash or other substitution is allowed except by the .NET Foundation, who may substitute a prize with another prize of equal or greater value, as determined by the .NET Foundation in its sole discretion. 
                The Prize is not redeemable for cash and is non-transferrable, except to a surviving spouse residing in the same household.
            </li>
            <li>
                <strong>NOTIFICATION AND REQUIREMENT OF WINNER.</strong> Winners will be announced by April 10, 2021. 
                Winners will also be contacted via their email address. If Prize notification is returned as non-deliverable, or if a Winner is found not to be eligible or not in compliance with these Official Rules, disqualification will result, and an alternate Winner may be selected. 
                All taxes, including federal, state and local taxes, and other expenses related to accepting and/or using the Prize not listed in these Official Rules, are the sole responsibility of the Winner. 
                The Winner will also be required to comply with all applicable federal, state and local laws and regulations regarding the ownership of the Prize.
            </li>
        </ol>      

    <p></p>
    
</div>
        </main>
            </div>
        </div>
    </div>
</section>
