---
title: .NET Foundation Survey
permalink: /about/survey
---

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
            <script>
            (function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src="https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd_2Fz8yU2yASiEF9xj3dIgsXDZCC8BpEFdX_2Fye7ctL4KYv.js",a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");
            </script>
            <h3 style="text-align: center;">If you are having trouble with this page, here is the <a href="https://www.surveymonkey.com/r/5MWDHBR">direct link</a> for the survey.</h3>
            </div>
        </div>
    </div>
</section>
