---
title: .NET Foundation Technical Steering Group
permalink: /about/technical-steering-group
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Technical Steering Group
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-8">
                <p></p>
                <p>
                    The Technical Steering Group is a working group within the .NET Foundation to provide technical review and coordination across the projects and stakeholders.
                </p>
                <p>
                    The Technical Steering Group consists of nominated representatives from the core .NET projects along with representatives from partner companies, organizations, or individuals at the invitation of the Board of Directors. Representation is reviewed annually by the Board to ensure that the right mix of opinions are being sought on the technical direction of .NET.
                </p>
                <p>
                    The Technical Steering Group takes part in discussions on core projects that are part of the .NET Foundation, including but not limited to the following topics:
                </p>
                <ul>
                    <li>
                        Major architectural and platform support decisions
                    </li>
                    <li>
                        Major roadmap plan changes
                    </li>
                    <li>
                        Major release schedule plans
                    </li>
                    <li>
                        New .NET Foundation Project Submissions
                    </li>
                    <li>
                        C# & VB.NET Language Proposals
                    </li>
                </ul>
                <p>
                    The representatives of the Technical Steering Group are kept informed regarding the ECMA Standardization Process for C# and the Common Language Runtime (CLR), as well as being invited to other events, conferences, and technical meetings.
                </p>
                <p>
                    As part of joining the .NET Foundation Technical Steering Group, the member organization agrees to the following:
                </p>
                <ul>
                    <li>
                        Provide written notification of the names and email addresses of the individual representatives on the Technical Steering Group.
                    </li>
                    <li>
                        Provide written notification of any changes to the individuals representing the organization on the Technical Steering Group.
                    </li>
                    <li>
                        Ensure that their representatives have read and adhere to the .NET Foundation <a href="about/code-of-conduct">Code of Conduct</a>.
                    </li>
                    <li>
                        Ensure that their representatives engage in discussions on behalf of the organization to help influence the technical decisions being made by core projects in the .NET Foundation and make reasonable attempts to attend conference calls when possible.
                    </li>
                    <li>
                        All feedback and discussion within the Technical Steering Group is provided under the terms of the .NET Foundation Contribution License Agreement. The organization will ensure that their representatives have agreed to the terms of the .NET Foundation Contribution License Agreement or that a Contribution License Agreement is in place between the entity and the .NET Foundation that includes the contributions made by their representatives.
                    </li>
                </ul>
            </div>
            <div class="col-3 offset-1">
                <div>
                    <p><a href="http://www.microsoft.com"> <img width="165" height="124" alt="Microsoft" src="img/Microsoft.png"> </a></p>
                </div>
                <div>
                    <p><a href="http://www.redhat.com"> <img width="165" height="124" alt="Red Hat" src="img/Red-Hat.png"> </a></p>
                </div>
                <div>
                    <p><a href="https://www.jetbrains.com/"> <img width="165" height="124" alt="JetBrains" src="img/JetBrains.png"> </a></p>
                </div>
                <div>
                    <p><a href="https://unity3d.com/"> <img width="165" height="124" alt="Unity" src="img/Unity.png"> </a></p>
                </div>
                <div>
                    <p><a href="http://www.samsung.com/"> <img width="165" height="124" alt="Samsung" src="img/Samsung.png"> </a></p>
                </div>
                <div>
                    <p><a href="https://cloud.google.com"> <img width="165" height="124" alt="Google" src="img/google.png"> </a></p>
                </div>
            </div>
        </div>
    </div>
</section>
