---
permalink: /resources
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    .NET Presentations: Events in a Box!
                </h2>
                <p class="mx-auto">
                    Welcome to .NET "Presentations in a Box."  We have a listing of workshops and presentations YOU can use AND contribute to! Remix and share, and present at Meetups, User Groups, CodeCamps, or Conferences! Not familiar with .NET? Download open source .NET Core for any OS at
                </p>
                <div class="mx-auto d-flex justify-content-between">
                    <a href="/community/working-groups" class="site-button site-button--pink">Working Groups</a>
                    <a href="/community/find-a-meetup" class="site-button site-button--pink">Find a Meetup</a>
                    <a href="/community/host-a-meetup" class="site-button site-button--pink">Host a Meetup</a>
                    <a href="/community/resources" class="site-button site-button--pink">Resources</a>
                    <a href="/community/store" class="site-button site-button--pink">Store</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section">
    <div class="page-section_container container">
        <h2 id="net-conf-2019-"><a href="https://github.com/dotnet-presentations/dotnetconf2019">.NET Conf 2019</a> <img src="https://img.shields.io/github/last-commit/dotnet-presentations/dotnetconf2019.svg?style=flat" alt=""><a class="anchorjs-link " href="#net-conf-2019-" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        <p>Here are the presentations from .NET Conf 2019, along with creative content and info you can use to put on your own <a href="https://www.dotnetconf.net/local-events">.NET Conf Local event</a>!</p>

        <h2 id="workshops">Workshops<a class="anchorjs-link " href="#workshops" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        <h3 id="aspnet-core-for-beginners-"><a href="https://github.com/dotnet-presentations/aspnetcore-for-beginners">ASP.NET Core For Beginners</a> <img src="https://img.shields.io/github/last-commit/dotnet-presentations/aspnetcore-for-beginners.svg?style=flat" alt=""><a class="anchorjs-link " href="#aspnet-core-for-beginners-" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>Are you completely new to .NET? No problem! Here’s a half day workshop for developers who have no experience with .NET Core or ASP.NET. We’ll start with the basics and build up to a movie database website with search.</p>

        <h3 id="aspnet-core-app-workshop-"><a href="https://github.com/dotnet-presentations/aspnetcore-app-workshop">ASP.NET Core App Workshop</a> <img src="https://img.shields.io/github/last-commit/dotnet-presentations/aspnetcore-app-workshop.svg?style=flat" alt=""><a class="anchorjs-link " href="#aspnet-core-app-workshop-" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>In this workshop, you’ll learn by building a full-featured ASP.NET Core application from scratch. We’ll start from File/ New and build up to an API back-end application, a web front-end application, and a common library for shared data transfer objects using .NET Standard.</p>

        <h3 id="blazor-workshop-"><a href="https://github.com/dotnet-presentations/blazor-workshop/">Blazor Workshop</a> <img src="https://img.shields.io/github/last-commit/dotnet-presentations/blazor-workshop.svg?style=flat" alt=""><a class="anchorjs-link " href="#blazor-workshop-" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>Blazor is a single-page app framework for building client-side web apps using .NET and WebAssembly. In this workshop we will build a complete Blazor app and learn about the various Blazor framework features along the way.</p>

        <h3 id="net-core-workshop"><a href="https://github.com/dotnet-presentations/dotnetcore-workshop">.NET Core Workshop</a><a class="anchorjs-link " href="#net-core-workshop" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>
        <!--![](https://img.shields.io/github/last-commit/dotnet-presentations/dotnetcore-workshop.svg?style=flat)-->

        <p>
            Are you ready to get started with .NET Core? This one day workshop covers the basics, then digs into web development with ASP.NET Core,
            .NET Standard, porting from .NET Framework, and containers.
        </p>

        <!-- Commented out until updated
        ### [ASP.NET Core Authorization Workshop](https://github.com/blowdart/AspNetAuthorizationWorkshop) ![GitHub last commit (branch)](https://img.shields.io/github/last-commit/blowdart/AspNetAuthorizationWorkshop/master.svg)

        A workshop for moving through the various new pieces in ASP.NET Core Authorization.
        -->

        <h3 id="aspnet-core-overview-workshop-"><a href="https://github.com/dotnet-presentations/aspnetcore-workshop">ASP.NET Core Overview Workshop</a> <img src="https://img.shields.io/github/last-commit/dotnet-presentations/aspnetcore-concepts-workshop/master.svg" alt="GitHub last commit (branch)"><a class="anchorjs-link " href="#aspnet-core-overview-workshop-" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>This ASP.NET Core workshop is broken down by topics: middleware, front-end, etc.</p>

        <h2 id="presentation-decks">Presentation Decks<a class="anchorjs-link " href="#presentation-decks" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        <h3 id="what-is-net"><a href="https://github.com/dotnet-presentations/home/tree/master/.NET%20Intro">What is .NET?</a><a class="anchorjs-link " href="#what-is-net" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>Level 100 Beginner 45min presentation on what .NET is and how to get started!</p>

        <h3 id="net-today-and-tomorrow"><a href="https://github.com/dotnet-presentations/home/tree/master/.NET%20Keynote">.NET Today and Tomorrow</a><a class="anchorjs-link " href="#net-today-and-tomorrow" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>Overview of the .NET platform, open source ecosystem, features in the latest releases, and the future roadmap of .NET Core 3.0. Great for keynotes.</p>

        <h3 id="aspnet-core---security-and-identity"><a href="https://github.com/dotnet-presentations/home/tree/master/Security/ASP.NET%20Core%202.0">ASP.NET Core - Security and Identity</a><a class="anchorjs-link " href="#aspnet-core---security-and-identity" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>Overview of Security and Identity in ASP.NET Core 2.0, including Authorization Policies, Cookie Auth, and TOTP. Demos included.</p>

        <h3 id="introduction-to-mobile-development-with-xamarin"><a href="https://github.com/dotnet-presentations/mobile/tree/master/Introduction%20to%20Mobile%20Development%20with%20Xamarin">Introduction to Mobile Development with Xamarin</a><a class="anchorjs-link " href="#introduction-to-mobile-development-with-xamarin" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>
        <p>Complete walkthrough of mobile development with Xamarin. This includes how Xamarin integrates into the .NET ecosystem to build iOS, Android, macOS, tvOS, and watchOS apps with .NET and Visual Studio. This goes through all of the essential pieces to development with Xamarin.</p>

        <h3 id="xamarinforms---extend-and-optimize"><a href="https://github.com/dotnet-presentations/mobile/tree/master/Xamarin.Forms%20-%20Extend%20and%20Optimize">Xamarin.Forms - Extend and Optimize</a><a class="anchorjs-link " href="#xamarinforms---extend-and-optimize" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>This deck focuses on the latest developments in Xamarin.Forms that will help developers share more code and build beautiful native iOS and Android apps in less time.</p>

        <h3 id="xamarinessentials---cross-platform-native-apis"><a href="https://github.com/dotnet-presentations/mobile/tree/master/Xamarin.Essentials">Xamarin.Essentials - Cross-platform Native APIs</a><a class="anchorjs-link " href="#xamarinessentials---cross-platform-native-apis" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>Xamarin.Essentials, a powerful cross-platform library that provides a clean and lightweight API to access common features on mobile platforms, in your cross-platform C# apps without writing abstractions or platform-specific code.</p>

        <h3 id="crafting-real-time-mobile-apps-with-xamarin--signalr"><a href="https://github.com/dotnet-presentations/xamarin/tree/master/SignalR-%20Real-time%20Communication%20for%20Xamarin">Crafting Real-time Mobile Apps with Xamarin &amp; SignalR</a><a class="anchorjs-link " href="#crafting-real-time-mobile-apps-with-xamarin--signalr" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>Stop polling and enable bi-directional communication between your server and mobile apps, in real-time. Better yet share all your real-time communication business logic between iOS and Android Xamarin apps with .NET Standard and SignalR.</p>

        <h2 id="community-e-books-and-tutorials">Community E-Books and Tutorials<a class="anchorjs-link " href="#community-e-books-and-tutorials" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        <h3 id="aspnet-core-a-z-e-book"><a href="https://wakeupandcode.com/release-asp-net-core-a-z-ebook/">ASP.NET Core A-Z e-book</a><a class="anchorjs-link " href="#aspnet-core-a-z-e-book" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>This is a great way to learn ASP.NET Core key concepts, with A-Z deep dives on important concepts and features from “Authentication &amp; Authorization” to “Zero-Downtime Web Apps”.</p>

        <h3 id="build-an-airport-explorer-with-aspnet-core"><a href="https://www.jerriepelser.com/books/airport-explorer">Build an Airport Explorer with ASP.NET Core</a><a class="anchorjs-link " href="#build-an-airport-explorer-with-aspnet-core" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>This free e-book guides you through creating a really cool application using ASP.NET Core Razor Pages, AJAX, 3rd party APIs, mapping, data integration with CSV source data, and more.</p>

        <h3 id="the-little-aspnet-core-book"><a href="https://www.recaffeinate.co/book/">The Little ASP.NET Core Book</a><a class="anchorjs-link " href="#the-little-aspnet-core-book" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>

        <p>You don’t need to know anything about web programing or ASP.NET Core to get started! The Little ASP.NET Core Book is structured as a tutorial. You’ll build an app from start to finish and learn:</p>

        <ul>
            <li>How to build an application with the ASP.NET Core framework</li>
            <li>The basics of the MVC (Model-View-Controller) pattern</li>
            <li>How to read and write data to a database</li>
            <li>How to add login, registration, and security</li>
            <li>How to deploy the app to the web</li>
        </ul>

        <h3 id="250-aspnet-core-samples"><a href="https://github.com/dodyg/practical-aspnetcore">250+ ASP.NET Core Samples</a><a class="anchorjs-link " href="#250-aspnet-core-samples" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>
        <p>Dody has built an amazing collection of over 180 code samples for ASP.NET Core 2.1, 2.2, and 3.0 fundamentals. These are really focused samples that are quick to set up and run, and he keeps them really up to date.</p>

        <h3 id="akkanet-bootcamp"><a href="https://github.com/petabridge/akka-bootcamp">Akka.NET Bootcamp</a><a class="anchorjs-link " href="#akkanet-bootcamp" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h3>
        <p>A step-by-step, self-paced tutorial for learning the basics of the actor model and Akka.NET syntax. You’ll learn how to create your own actors, how to use them to build highly concurrent applications safely and easily, and you’ll learn how to integrate actors with other popular .NET technologies such as the Task and Parallelism Library (TPL.)</p>

        <h2 id="got-a-suggestion-or-fix">Got a suggestion or fix?<a class="anchorjs-link " href="#got-a-suggestion-or-fix" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>
        <p>This site, as well as all of our content, is open source. Issues and pull requests for this site can be contributed <a href="https://github.com/dotnet-presentations/dotnet-presentations.github.io">here</a>, and you can contribute to the workshops and decks in their respective repos.</p>

    </div>
</section>