---
permalink: /store
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Store
                </h2>
                <p class="mx-auto">

                </p>
                <div class="mx-auto d-flex justify-content-between">
                    <a href="/community/working-groups" class="site-button site-button--pink">Working Groups</a>
                    <a href="/community/find-a-meetup" class="site-button site-button--pink">Find a Meetup</a>
                    <a href="/community/host-a-meetup" class="site-button site-button--pink">Host a Meetup</a>
                    <a href="/community/resources" class="site-button site-button--pink">Resources</a>
                    <a href="/community/store" class="site-button site-button--pink">Store</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <div class="pure-u-1 ">
                    <div class="pure-g">
                        <div class="category-detail text-center pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                            <div class="standard-grid-container">
                                <a href="/dotnetfoundation/apparel-unisex">
                                    <div class="product-image-container">
                                        <span></span><img alt="Apparel - Unisex" src="https://kotis-estores.s3.amazonaws.com/stores/dotnetfoundation/categories/medium_apparel-unisex.png">
                                    </div>
                                    <span class="main-category-name">Apparel - Unisex</span>
                                </a>
                            </div>
                        </div>
                        <div class="category-detail text-center pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                            <div class="standard-grid-container">
                                <a href="/dotnetfoundation/apparel-women-s">
                                    <div class="product-image-container">
                                        <span></span><im alt="Apparel - Women's" src="https://kotis-estores.s3.amazonaws.com/stores/dotnetfoundation/categories/medium_apparel-women-s.png">
                                    </div>
                                    <span class="main-category-name">Apparel - Women's</span>
                                </a>
                            </div>
                        </div>
                        <div class="category-detail text-center pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                            <div class="standard-grid-container">
                                <a href="/dotnetfoundation/fun">
                                    <div class="product-image-container">
                                        <span></span><img alt="Fun" src="https://kotis-kwf.s3.amazonaws.com/2/72/18/medium_27218-13571fce8d4e253898f3a423fc13cacf.png">
                                    </div>
                                    <span class="main-category-name">Fun</span>
                                </a>
                            </div>
                        </div>
                        <div class="category-detail text-center pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                            <div class="standard-grid-container">
                                <a href="/dotnetfoundation/stickers">
                                    <div class="product-image-container">
                                        <span></span><img alt="Stickers" src="https://kotis-kwf.s3.amazonaws.com/2/29/52/medium_22952-0384595a40eec5153d1600b9c265cc30.png">
                                    </div>
                                    <span class="main-category-name">Stickers</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>