---
layout: _layout
permalink: /working-groups
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Working Groups!
                </h2>
                <p class="mx-auto">
                    Need verbiage about how important the community is
                </p>
                <div class="mx-auto d-flex justify-content-between">
                    <a href="@DotNetFoundation.AppSettings.BaseRef/community/working-groups" class="site-button site-button--pink">Working Groups</a>
                    <a href="@DotNetFoundation.AppSettings.BaseRef/community/find-a-meetup" class="site-button site-button--pink">Find a Meetup</a>
                    <a href="@DotNetFoundation.AppSettings.BaseRef/community/host-a-meetup" class="site-button site-button--pink">Host a Meetup</a>
                    <a href="@DotNetFoundation.AppSettings.BaseRef/community/resources" class="site-button site-button--pink">Resources</a>
                    <a href="https://store.dotnetfoundation.org/" class="site-button site-button--pink">Store</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">

            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">

            </div>
        </div>
    </div>
</section>
