---
layout: _layout
title: Campaign Statements
permalink: /election/candidates
---

@if (1 == 0)
{
    <h3>We're just getting started!</h3>

    <p>
        Hey, we just launched the election and are waiting for our first election statements.
        Interested in <a href="@DotNetFoundation.AppSettings.BaseRef/election/campaign">joining the race?</a>
    </p>
}
else
{
    <h3 id="here-are-the-campaign-statements-for-our-candidates">Here are the campaign statements for our candidates.</h3>
    <p>Interested in joining the race? <a href="@DotNetFoundation.AppSettings.BaseRef/election/campaign">Here’s how to get started</a>.</p>

    <p><a href="https://gitter.im/dotnet-foundation/election?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge"><img src="https://badges.gitter.im/dotnet-foundation/election.svg" alt="Gitter" /></a></p>

    <section class="card-container">
        @Html.Partial("../_partials/_candidate-card.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
            .Flatten()
            .FilterSources(Context, "election/campaign-2019/*")
            .Where(candidate => !candidate.GetBool("appointed"))
            )
    </section>
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var cookieName = 'candidates';
        var cookie = Cookies.getJSON(cookieName);
        var ul = document.querySelector('section.card-container');

        var values = new Array();
        for (var i = 0; i < ul.children.length; i++) {
            values.push(Math.random() * i | 0);
        }
        console.log(cookie);
        if (cookie != null && values.length == cookie.values.length) {
            /* reset if candidate lengths change */
            values = cookie.values;
        } else {
            Cookies.set(cookieName, { values: values }, { expires: 1 /*days*/ });
        }

        for (var i = 0; i < values.length; i++) {
            ul.appendChild(ul.children[values[i] | 0]);
        }
    }, false);
</script>