@inherits Statiq.Razor.StatiqRazorPage<IEnumerable<IDocument>>

@foreach (IDocument item in Model)
{
    @if(!String.IsNullOrEmpty(item.GetString("title")))
    {
        <div class="latest_container latest_container--event">
            <div class="latest_date d-flex align-items-center justify-content-center text-center">@item.GetString("date")</div>
            <div class="latest_meta d-flex flex-column justify-content-center">

                <h3 class="latest_title"><a href="@item.GetString("link")">@item.GetString("title")</a></h3>
                <p class="latest_copy">
                    @if (!String.IsNullOrEmpty(item.GetString("description")))
                    {
                        @item.GetString("description")
                    }
                    else
                    {
                        <span>(No description listed)</span>
                    }
                </p>
            </div>
        </div>
    }
}