---
title: .NET Foundation Academy - FAQ | .NET Foundation
permalink: /education/academy/faq
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Foundation Academy - FAQ
                </h1>
                <p class="mx-auto">
                    The .NET Foundation Academy is a program for higher education students to learn about software development using .NET. 
                    Students will develop a project from design to deployment while applying the tools, concepts, and processes
                    desired by high-tech employers. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Frequently Asked Questions
                </h2>
                <p>
                    <ul>
                        <li>
                            <h4>
                                I'm not currently enrolled in a higher education institute. Can I still join the program?
                            </h4>
                            <p>
                                As of right now, we are only accepting students who already enrolled in a higher education institute. We hope to 
                                expand our offering to include anyone who wants to learn .NET.
                            </p>
                        </li>
                        <li>
                            <h4>
                                I've never programmed before. Will this program teach me programming?
                            </h4>
                            <p>
                                This course is designed for students who already have a fundamental understanding of programming in an object oriented 
                                programming language. We will teach you C#, the .NET framework, HTML, and so much more.
                            </p>
                        </li>
                        <li>
                            <h4>
                                How much will it cost?
                            </h4>
                            <p>
                                The course is completely free and is taught by passionate volunteers in the industry through the .NET Foundation. The 
                                .NET Foundation is an independent, non-profit organization to support the .NET platform including providing free and 
                                accessible education to the community at large.
                            </p>
                        </li>
                        <li>
                            <h4>
                                Is this program in-person or online?
                            </h4>
                            <p>
                                This course is currently only being offered as an online course. We have plans to eventually hold this program in-person.
                            </p>
                        </li>
                        <li>
                            <h4>
                                What language is this course available in?
                            </h4>
                            <p>
                                Currently, we are only teaching this course in English, so proficiency in the English language is expected. We have plans 
                                to translate and run these courses in other languages, so stay tuned!
                            </p>
                        </li>
                        <li>
                            <h4>
                                Will I earn a class credit?
                            </h4>
                            <p>
                                Unfortunately, no. Our program is not accredited with any higher education institute. However, you will receive a certificate
                                from the .NET Foundation Academy upon successful completion of the course.
                            </p>
                        </li>
                        <li>
                            <h4>
                                Are there any prerequisites for this course?
                            </h4>
                            <p>
                                Yes. Students are expected to have fundamental knowledge of object oriented programming languages (such as Python, 
                                Java, or C++) and data structures. If you've never programmed before, or haven't completed an object oriented and data
                                structures class, these classes aren't for you. 
                            </p>
                        </li>
                        <li>
                            <h4>
                                Do you offer employment assistance?
                            </h4>
                            <p>
                                At this time, no. We have plans to build an employer network and a professional development course to assist students with 
                                their job search. Stay tuned!
                            </p>
                        </li>
                        <li>
                            <h4>
                                What is involved with taking a course?
                            </h4>
                            <p>
                                Our courses consist of a 12-week program consisting of a 2.5 hour online class with a mix of lecture and workshops each week. 
                                Attendance to class is mandatory (with the exception of excused absences). Students will be expected to complete additional 
                                assignments and project work outside of class hours to successfully complete the course. Students are required to provide their 
                                own stable internet connection and a computer equipped with a microphone, webcam, and speakers. Unfortunately, we do not offer
                                any assistance for students who might not have access to an internet connection or computer equipment at this time. We hope 
                                to provide assistance in the future.
                            </p>
                        </li>
                        <li>
                            <h4>
                                What is the attendance/participation policy?
                            </h4>
                            <p>
                                Attendance to class is mandatory (with the exception of excused absences). Students who miss more than 2 classes will be 
                                dropped from the course and be ineligble to receive the course certificate. Please do not sign up if you don't plan to be
                                able to attend the classes or participate. Students will be working in groups with other students to complete a project they
                                pitch, design, and implement. Students who don't attend classes or do not work on their assignments will greatly hinder other 
                                students who wish to complete their project and graduate from the course. Webcams are expected to be turned on during class, 
                                and students are expected to participate in class.
                            </p>
                        </li>
                        <li>
                            <h4>
                                What does the application process look like?
                            </h4>
                            <p>
                                Students will complete 2 coding challenges that show they have basic understandings of programming and data structures in any programming 
                                language they are most comfortable. Each coding challenge should take the student less than 2 hours to complete. Once the coding challenges 
                                are complete, the students will create a GitHub public repository with their source code of the solutions and then will fill out and submit 
                                an application. .NET Foundation Academy staff members will review the application and solution. If the student passes the 2 coding challenges,
                                they will be invited to a final interview with a .NET Foundation Academy staff member where they will take a 3rd coding challenge based on one 
                                of the previous coding challenges to be completed within 30 minutes and will interview the student to see if they are a good fit for the program.
                            </p>
                        </li>                
                        <li>
                            <h4>
                                What are the minimum hardware requirements?
                            </h4>
                            <p>
                                We recommend students have a computer with the following minimum requirements:
                                <ul>
                                    <li>1.6 GHz or faster processor</li>
                                    <li>1 GB of RAM</li>
                                    <li>4 GB of free disk space</li>
                                    <li>macOS: OS X El Capitan (10.11+)</li>
                                    <li>Windows: 7 (with .NET Framework 4.5.2), 8.0, 8.1 and 10 (32-bit and 64-bit)</li>
                                    <li>Linux: Ubuntu Desktop 16.04, Debian 9, Red Hat Enterprise Linux 7, CentOS 8, Fedora 24</li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <h4>
                                Have any additional questions that we didn't cover?
                            </h4>
                            <p>
                                Please use our <a href="/education/academy/contact-us">contact us form</a> if you have any additional questions that are not covered by our FAQ.
                            </p>
                        </li>     
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>