---
title: .NET Foundation Academy - Full Stack Web Development | .NET Foundation
permalink: /education/academy/full-stack-web-development
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Foundation Academy - Full Stack Web Development
                </h1>
                <p class="mx-auto">
                    The .NET Foundation Academy is a program for higher education students to learn about software development using .NET. 
                    Students will develop a project from design to deployment while applying the tools, concepts, and processes
                    desired by high-tech employers. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Overview
                </h2>
                <p>
                    Our online instructor-led technical curriculum focuses on full stack web development using the .NET Core framework. Students 
                    will work in teams on projects they propose, design, and implement. Our teachers supervise each team's work, provide feedback, 
                    introduce the software development life cycle and best practices, and perform code reviews. The course is a 12-week program consisting 
                    of a 2.5 hour online class with a mix of lecture and workshops each week. Students are expected to complete additional 
                    coding assignments and projects outside of class hours. Come learn the 
                    <a href="https://insights.stackoverflow.com/survey/2020#technology-most-loved-dreaded-and-wanted-web-frameworks-loved2">most 
                    loved web framework according to Stack Overflow's 2020 Developer Survey</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Skills and Technologies You Will Learn:
                </h2>
                <p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                        <li>C#</li>
                        <li>.NET Core</li>
                        <li>ASP.NET Core</li>
                        <li>Blazor</li>
                        <li>Git</li>
                        <li>GitHub</li>
                        <li>SQL</li>
                        <li>Visual Studio Code</li>
                        <li>The Software Development Life Cycle</li>
                        <li>Unit Testing</li>
                        <li>Cloud Deployment</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Curriculum
                </h2>
                <p>Our current curriculum outline:</p>
                <ol>
                    <li>Introduction to Visual Studio Code and .NET</li>
                    <li>C# Overview</li>
                    <li>HTML and CSS Overview</li>
                    <li>The Software Development Life Cycle</li>
                    <li>Web Fundamentals</li>
                    <li>Deep Dive into ASP.NET Core</li>
                    <li>Building Blazor Components</li>
                    <li>SQL Databases and Data Modeling</li>
                    <li>Web Security</li>
                    <li>Cloud Deployment</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Upcoming Course Dates
                </h2>
                <h4 style="margin-bottom: .5rem">Fall 2021 Cohort (Online):</h4>
                <ul>
                    <li>
                        <b>September 15th - December 15th</b> 
                        <br/>
                        <b>Wednesdays:</b> 6:30 PM - 9:00 PM EDT (UTC-4)
                        <br/>
                        <b>Course Language:</b> English
                        <br/>
                        <b>Seats:</b> 18
                        <br/>
                    </li>
                    <li>
                        <b>September 19th - December 19th</b>
                        <br/>
                        <b>Sundays:</b> 9:00 AM - 11:30 AM IST (UTC+5:30)
                        <br/>
                        <b>Course Language:</b> English
                        <br/>
                        <b>Seats:</b> 18
                        <br/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Interested in applying for the Fall 2021 Cohort .NET Foundation Academy?
                </h2>
                <p>
                    <a href="/education/academy/learn-more">Learn more about process.</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Have Additional Questions?
                </h2>
                <p>
                    Please check out our <a href="/education/academy/faq">FAQ</a> if you have any additional questions, or use our 
                    <a href="/education/academy/contact-us">contact us form</a> if you have any questions that are not covered by our FAQ.
                </p>
            </div>
        </div>
    </div>
</section>                