---
title: .NET Foundation Academy | .NET Foundation
permalink: /education/academy
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Foundation Academy
                </h1>
                <p class="mx-auto">
                    The .NET Foundation Academy is a program for higher education students to learn about software development using .NET. 
                    Students will develop a project from design to deployment while applying the tools, concepts, and processes
                    desired by high-tech employers. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Why Learn .NET?
                </h2>
                <p>
                    .NET is a free, open source development platform for building modern, scalable, and high performance applications. With .NET,
                    you can build cross-platform desktop, mobile, web, and cloud applications. In fact, you can even build games using the Unity development platform.
                    Developers are able to build high quality applications faster with powerful tooling and an extensive set of libraries, APIs, and
                    language support. .NET was ranked #1 as the most-loved framework in the Stack Overflow Developer Survey in 
                    <a href="https://insights.stackoverflow.com/survey/2019#technology-_-most-loved-dreaded-and-wanted-other-frameworks-libraries-and-tools">2019</a> and 
                    <a href="https://insights.stackoverflow.com/survey/2020#technology-most-loved-dreaded-and-wanted-other-frameworks-libraries-and-tools">2020</a>. 
                    The .NET platform is also faster than most other frameworks according to the popular 
                    <a href="https://www.techempower.com/benchmarks/#hw=ph&test=plaintext">TechEmpower benchmarks</a>, and is trusted by thousands of companies to run
                    their mission-critical software. Come join the millions of developers worldwide already using .NET. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Why Choose the .NET Foundation Academy to Learn .NET?
                </h2>
                <p>
                    The .NET Foundation Academy was founded to provide higher education students the resources to learn software development
                    using .NET. The .NET Foundation Academy is the first open-source, .NET-focused education platform backed by the .NET Foundation.
                    Our courses are taught by industry experts and are being offered to higher education students at no cost. Students will receive 
                    a certificate upon completion of the course.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Current Curriculum's Offered:
                </h2>
                <p>
                    <ul>
                        <li>
                            <h4 style="margin-bottom: .5rem"><a href="/education/academy/full-stack-web-development">Full Stack Web Development using .NET - Fall 2021</a> - Applications Closing Soon</h4>
                            <ul>
                                <li>
                                    <b>September 15th - December 15th</b> 
                                    <br/>
                                    <b>Wednesdays:</b> 6:30 PM - 9:00 PM EDT (UTC-4)
                                    <br/>
                                    <b>Course Language:</b> English
                                    <br/>
                                    <b>Seats:</b> 18
                                    <br/>
                                </li>
                                <li>
                                    <b>September 19th - December 19th</b>
                                    <br/>
                                    <b>Sundays:</b> 9:00 AM - 11:30 AM IST (UTC+5:30)
                                    <br/>
                                    <b>Course Language:</b> English
                                    <br/>
                                    <b>Seats:</b> 18
                                    <br/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Have Additional Questions?
                </h2>
                <p>
                    Please check out our <a href="/education/academy/faq">FAQ</a> if you have any additional questions, or use our 
                    <a href="/education/academy/contact-us">contact us form</a> if you have any questions that are not covered by our FAQ.
                </p>
            </div>
        </div>
    </div>
</section>