---
title: .NET Foundation Academy - Learn More | .NET Foundation
permalink: /education/academy/learn-more
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Foundation Academy - Application Process
                </h1>
                <p class="mx-auto">
                    The .NET Foundation Academy is a program for higher education students to learn about software development using .NET. 
                    Students will develop a project from design to deployment while applying the tools, concepts, and processes
                    desired by high-tech employers. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Who is eligible to apply?
                </h2>
                <p>
                    This course is only available to students who are enrolled in a higher education institution. Those students are expected to 
                    have already taken a few programming classes and are comfortable with the fundamentals of programming. We expect the students
                    to have a basic understanding of an object-oriented programming language and an understanding of data structures. It is recommened
                    that students also have had some exposure to algorithms, but it is not required. This is an online-only course, so students will 
                    need to have a laptop that can run Visual Studio Code, a webcam and microphone for class participation, and a stable internet connection. 
                </p>
                <p>
                    This course is not designed for a student who does not have any prior programming experience. We plan to expand our offerings in the
                    future to accomodate students who do not have any prior programming experience.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Process Overview:
                </h2>
                <p>
                    Students will complete 2 coding challenges that show they have basic understandings of programming and data structures. The students
                    are allowed to complete the coding challenges in any programming language they are most comfortable with given that the language has
                    support for object oriented paradigms. Each coding challenge should take the student less than 2 hours to complete. 
                </p>
                <p>
                    Once the coding challenges are complete, the students will create a GitHub public repository with their source code of the solutions.
                    The students will fill out and submit an application form providing the link to their GitHub repository. Staff members at the .NET
                    Foundation Academy will review the application and solution. For more information about getting started with setting up a GitHub 
                    repository, <a href="https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/creating-a-new-repository">
                    check out the guide on GitHub about creating a new repository</a>.
                </p>
                <p>
                    If the student passes the 2 coding challenges, they will be invited to a final interview with a .NET Foundation Academy
                    staff member where they will take a 3rd coding challenge based on one of the previous coding challenges to be completed within 30 minutes.
                    The .NET Foundation Academy staff member will also interview the student to see if they are a good fit for the program.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Ready to Apply?
                </h2>
                <p>
                    <b>Applications are closing soon!</b> Please complete <a href="/education/academy/CodingChallengeQuestions.pdf">the 2 coding challenge questions</a>,
                    then submit <a href="/education/academy/apply">your application</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Have Additional Questions?
                </h2>
                <p>
                    Please check out our <a href="/education/academy/faq">FAQ</a> if you have any additional questions, or use our 
                    <a href="/education/academy/contact-us">contact us form</a> if you have any questions that are not covered by our FAQ.
                </p>
            </div>
        </div>
    </div>
</section>