@{
    Layout = @"/_Layout.cshtml";
}

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>Community Speakers</h2>
            </div>
        </div>
    </div>
</section>

@RenderBody()