@{
    Layout = @"/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" data-no-mirror>
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js" data-no-mirror></script>

    @RenderSection("head", required: false)
}

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2><a href="/community/speakers">Speaker Directory</a></h2>
            </div>
        </div>
    </div>
</section>

@RenderBody()