@{
    Layout = @"/_Layout.cshtml";
}

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>@Model.GetTitle()</h2>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-12 text-left">
                <article class="row">
                    <div class="col-4"><a href="@Model.GetString("Web")"><img class="img-responsive contrib-logos" src="assets/projects/@Model.GetString("Logo", "logo_big.png")" alt="@Model.GetTitle()" /></a></div>
                    <div class="col-8">
                        @RenderBody()
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
