<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseRef" value="/website"/>
    <add key="SiteTitle" value=".NET Foundation" />
    <add key="SiteDescription" value="This is your .NET Foundation!"/>
    <add key="GoogleAnalytics" value="UA-57261022-1"/>
    <add key="lang" value="en-US"/>
    <add key="AzureSearchQueryKey" value="9636178A596315042B8CB163AF989942"/>
    <add key="IsCampaingOpen" value="false"/> <!-- true or false -->
    <add key="ContributorsCounter" value="11974"/>
    <add key="GithubOrgsCounter" value="21"/>
    <add key="RepositoriesCounter" value="556"/>
    <add key="ForksCounter" value="59275"/>
  </appSettings>
</configuration>