---
title: Education | .NET Foundation
permalink: /education
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Education
                </h1>
                <p class="mx-auto">
                    Education is vital to the open source ecosystem around the .NET platform. By educating developers, decision-makers, and users about the advantages
                    of the .NET platform, the .NET Foundation can further its mission in supporting .NET open source.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Education Committee
                </h2>
                <p>
                    The education committee is responsible for developing, sponsoring, and providing educational opportunities for the .NET community.
                    <br />
                    Interested in helping out? Find out <a href="https://github.com/dotnet-foundation/wg-education">how to join the education committee</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    .NET Foundation Academy
                </h2>
                <p>
                    The .NET Foundation Academy is a program for higher education students to learn about development using .NET.
                    <br />
                    Find out about the <a href="/education/academy">offerings the .NET Foundation Academy has to offer</a>.
                </p>
            </div>
        </div>
    </div>
</section>