---
title: Become a Member of the .NET Foundation
permalink: /become-a-member
---

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h1>Uh oh!</h1>
                <p>
                    <strong>
                        You've tried to access a page that doesn't exist. Sorry about this. It's probably us,
                        not you.
                    </strong>
                </p>
                <p>If you think this was an error, please create an issue on GitHub: <a href="https://github.com/dotnet-foundation/website/issues">Create an Issue</a></p>

                <h3><a href="/">Return to the Home Page</a></h3>
            </div>
        </div>
    </div>
</section>
