---
layout: _layout
permalink: /news
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Chatter to keep up with.
                </h2>
                <p class="mx-auto">
                    This is the page to bookmark. Remember, you, your colleagues, your co-coders in arms — whether you know them yet or not — are the ones who make up the community and are the true innovators. So keep an eye on this page for news from us, news about .NET, and most important, updates from your peers. Contributors are commended.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <article class="col-md-12">
                <h2>Newsletter</h2>
                <hr class="page-section_hr">
                <div class="media-list">
                    @Html.Partial("_partials/_news.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                       .Flatten()
                       .FilterSources(Context, "data/news/*")
                       )
                </div>
            </article>
        </div>
        <br />
        <br />
    </div>
</section>