---
layout: _layout
permalink: /projects
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    .NET Foundation Projects
                </h2>
                <div id="foundation-description">
                    <p class="mx-auto">
                        Projects—and the people behind them—are at the heart of what .NET Foundation is all about. These days, you’ll find a wide variety of projects, including the .NET Compiler Platform, ASP.NET, .NET Core, and Xamarin Forms, along with the popular .NET open-source frameworks xUnit and Reactive Extensions.
                    </p>
                    <p class="mx-auto">
                        Can you contribute to something already in the works? Browse our projects below to find out how to contribute!
                    </p>
                    <p class="mx-auto">
                        Of course, we’re always on the lookout for new open-source projects to support. Learn <a target="_blank" href="https://github.com/dotnet/foundation/blob/master/guidance/new-projects.md">how to submit your project</a>.
                    </p>
                </div>
                <div class="container" id="search">
                    <div class="form-group col-6 offset-3">
                        <div class="input-group">
                            <input class="form-control" id="textToSearch" name="textToSearch" type="search" value=""
                                    placeholder=""
                                    />
                            <button id="search-projects" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="row sr-only">
                        <div class="form-group">
                            <label>
                                <input id="type" name="type" type="radio" value="project" checked/> Projects
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input id="type" name="type" type="radio" value="repository"/> Repositories
                            </label>
                        </div>
                    </div>
                </div>
                <div id="search-description"></div>
                <button id="back-button" class="site-button site-button--pink"><i class="fa fa-angle-left" style="margin-right: 10px"></i>Back to index</button>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <div id="PresetProjects">
                </div>
                <div id="PresetPagination">
                </div>
            </div>
        </div>
    </div>
</section>


<script src="js/showdown.min.js"></script>
<script src="js/showdown-unobtrusive.js" asp-append-version="true"></script>
<script src="js/projects.js"></script>
