---
permalink: /projects/net-foundation-project-committee
---
<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
              <h1 id="net-foundation-project-committee">.NET Foundation Project Committee</h1>
	              <h2 id="background">Background</h2>
	              <p>The .NET Foundation, an independent 501(C)(6) corporation, is chartered to foster open development and collaboration around the growing collection of open source technologies for .NET. It serves as a forum for commercial and community developers alike
		              to strengthen the future of the .NET ecosystem by promoting openness, community participation and rapid innovation.</p>
	              <p>The mission of the .NET Foundation is to foster a community of .NET developers focused on collaborating on commercially friendly open source software projects that enhance the .NET platform and create value within the .NET ecosystem.</p>
	              <h2 id="rationale">Rationale</h2>
	              <p>An important aspect of the .NET Foundation's vision is to attract and foster vibrant communities of open source projects and contributors. However, in order to preserve the relevancy and credibility of the .NET Foundation's brand and reputation, it must
		              ensure that all member projects fully embrace its mission and values and are willing to function as first class ambassadors and representatives of the .NET Foundation. It is the role of the Project Committee to assist the Board of Directors in ensuring
		              this alignment.</p>
	              <h2 id="responsibilities">Responsibilities</h2>
	              <p>The Project Committee manages the day to day requirements of Projects. This includes but is not limited to the following:</p>
	              <ul>
		              <li>Review and evaluate new Project applications</li>
		              <li>Monitor health of existing Projects</li>
		              <li>Handle the retirement of Projects</li>
		              <li>Provide support to Projects</li>
	              </ul>
	              <h2 id="organizational-structure">Organizational Structure</h2>
	              <p>The Project Committee is comprised of volunteer .NET Foundation members, a representative from the .NET Foundation Board of Directors, and a designated Chairperson appointed by the Executive Director. The Chairperson ensures that the Project Committee
		              meets monthly to discuss and review items pertaining to Projects and provides information and recommendations to the Executive Director so that they can be presented to the Board of Directors for approval. All official communication from the .NET Foundation
		              pertaining to Projects must be delivered by the Executive Director.</p>
	              <h2 id="evaluation-criteria">Evaluation Criteria</h2>
	              <p>Transparency is a key open source characteristic, and as a result the criteria for evaluating .NET Foundation projects is designed to be as measurable and objective as possible. The criteria are not only important for evaluating new project applications
		              but for measuring the ongoing health of existing projects. There are two types of criteria which have been defined:</p>
	              <p><strong>Eligibility</strong> - this criterion is binary in nature and is used to determine if a project is fully aligned with the mission and values of the .NET Foundation.</p>
	              <p><strong>Health</strong> - this criterion is quantitative in nature and is based on publicly accessible metrics which can be used to evaluate the health and maturity of a project.</p>
	              <h2 id="project-levels">Project Levels</h2>
	              <p>Projects are categorized according to the following levels:</p>
	              <p><strong>Applicant</strong> - a project which has applied to the .NET Foundation to become a member. The Project Committee will review the application within one month of the submission to determine whether or not the project has satisfied the Eligibility
		              and/or Health requirements.</p>
	              <p><strong>Seed</strong> - a project which has been reviewed by the Project Committee and meets the basic Eligibility requirements but does not yet meet the Health requirements. Projects at this level are eligible for some .NET Foundation project services
		              and will be re-evaluated automatically each quarter by the Project Committee to determine if they are ready to graduate to the Member level.</p>
	              <p><strong>Member</strong> - a project which satisfies the Eligibility and Health requirements and has been on-boarded as an official .NET Foundation project. Projects at this level can identify themselves publicly as Member Projects and are eligible to
		              obtain access to all .NET Foundation project services. They will continue to be monitored on a monthly basis to ensure they meet the Eligibility and Health criteria.</p>
	              <p><strong>Retired</strong> - a project which was once a Member Project but no longer satisfies either the Eligibility or Health requirements, or has submitted a formal request to withdraw from the .NET Foundation.</p>
	              <h2 id="eligibility-criteria">Eligibility Criteria</h2>
	              <p>Broken into a variety of functional areas, the eligibility criteria is a checklist which defines if a project is fully aligned with the mission and values of the .NET Foundation.</p>
	              <p><strong>Suitability</strong></p>
	              <ul>
		              <li>The project operates within the moral and ethical standards of the .NET Foundation.</li>
		              <li>The project is aligned with the philosophy and guidelines for collaborative development.</li>
		              <li>The project is built on the .NET platform and/or creates value within the .NET ecosystem.</li>
	              </ul>
	              <p><strong>Code</strong></p>
	              <ul>
		              <li>The project produces source code for distribution to the public at no charge.</li>
		              <li>The project's code is easily discoverable and publicly accessible (preferably on GitHub).</li>
		              <li>The project contains a build script that can produce deployable artifacts that are identical to the official deployable artifacts, with the exception of code signing (Exception may be granted for strong name keys, though strongly encouraged to be committed.
			              Exception relies on OSS signing being in the build script for public builds).</li>
		              <li>When applicable, project must use reproducible build settings in its toolchain.</li>
		              <li>The project uses <a href="https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink">Source Link</a>.</li>
		              <li>The project uses either embedded PDBs or publish symbol packages to NuGet (if applicable).</li>
		              <li>The project code signs their artifacts as appropriate.</li>
	              </ul>
	              <p><strong>Licenses and Copyright</strong></p>
	              <ul>
		              <li>The code is offered under an open source license which has been approved by the .NET Foundation.</li>
		              <li>Libraries that are mandatory dependencies of the project are also offered under a standard, permissive open source license which has been approved by the .NET Foundation (exceptions include a dependency that is required by the target platform where
			              no alternative open source dependency is available such as the .NET Framework or a hardware specific library).</li>
		              <li>Committers are bound by a Contributor License Agreement (CLA) and/or are willing to embrace the .NET Foundation's CLA when the project becomes a Member.</li>
		              <li>The copyright ownership of everything that the project produces is clearly defined and documented.</li>
	              </ul>
	              <p><strong>Quality</strong></p>
	              <ul>
		              <li>The project is open and honest about the quality of its code.</li>
		              <li>The project has a public issue tracker where the status of any defect can be easily obtained.</li>
		              <li>The project puts a very high priority on producing secure software.</li>
		              <li>The project has a published Security Policy.</li>
	              </ul>
	              <p><strong>Community</strong></p>
	              <ul>
		              <li>The project has a home page which provides high level information about its status and purpose.</li>
		              <li>The project welcomes contributions from anyone and embraces diversity.</li>
		              <li>The project strives to grant more rights and responsibilities to contributors who add value to the project.</li>
		              <li>The project has a public communication channel where community members can engage with maintainers.</li>
		              <li>The project adheres to, and enforces, the .NET Foundation Code of Conduct.</li>
		              <li>The project has a publicly available location where members can review and contribute to documentation.</li>
	              </ul>
	              <p>It is expected that a project satisfies the majority of the criteria outlined above; however, it is also possible for a project to obtain a waiver for specific criteria. It is the responsibility of the Project Committee to collate the project information,
		              perform an evaluation, and make recommendations on a project's eligibility to the Board of Directors. The Board of Directors has the right to approve or deny a project's eligibility. Projects will also be re-evaluated periodically to ensure they continue
		              to satisfy the eligibility requirements.</p>
	              <h2 id="health-criteria">Health Criteria</h2>
	              <p>Health criteria are designed to be measurable and are based on publicly accessible metrics which can be used to evaluate the health and maturity of a project on an ongoing basis. For convenience reasons, standard metrics are based on values which can
		              be readily obtained by anyone from GitHub and Nuget; however, metrics from other open source hosting platforms will also be considered.</p>
	              <ul>
		              <li>Age (based on the date on the LICENSE file in the repository or a date provided by the maintainer)</li>
		              <li>Stars</li>
		              <li>Watchers</li>
		              <li>Forks</li>
		              <li>Commits
			              <ul>
				              <li>Issues Open</li>
				              <li>Issues Closed</li>
				              <li>Pull Requests Open</li>
				              <li>Pull Requests Closed</li>
			              </ul>
		              </li>
		              <li>Branches</li>
		              <li>Packages</li>
		              <li>Releases</li>
		              <li>Contributors</li>
		              <li>NuGet Package Downloads</li>
	              </ul>
	              <p>There are no specific metrics levels or calculations which have been defined to judge the health of a project. Rather, the Project Committee utilizes the various metrics to make a relative determination of whether a project meets the health requirements.
		              The Project Committee makes recommendations on a project's health to the Board of Directors. The Board of Directors has the right to approve or deny a project's health. Metrics will be gathered each month by the Project Committee so that trends can
		              be analyzed to determine the ongoing vitality of a project.</p>
            </div>
        </div>
    </div>
</section>
