---
title: .NET Foundation Project Spotlight
description: This month's .NET Foundation Project Spotlight
permalink: /projects/spotlight
useFunctionsJS: true
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
            <h1>
             Cake  <img src="assets/projects/cake-large.png" width="100" alt="Cake">
            </h1>
			<br />

			<div id="project-owners">
				<h3>Project Owners:</h3>
				<br />
				<ul class="comma-list">
<li><a href="https://github.com/patriksvensson" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Patrik Svensson</a></li>
<li><a href="https://github.com/devlead" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Mattias Karlsson</a></li>
<li><a href="https://github.com/gep13" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Gary Ewan Park</a></li>
<li><a href="https://github.com/daveaglick" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Dave Glick</a></li>
<li><a href="https://github.com/agc93" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Alistair Chapman</a></li>
<li><a href="https://github.com/pascalberger" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Pascal Berger</a></li>
<li><a href="https://github.com/mholo65" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Martin Björkström</a></li>
<li><a href="https://github.com/ecampidoglio" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Enrico Campidoglio</a></li>
				</ul>
			</div>
    </div>
</section>

<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
			<h1>
             Get Involved
            </h1>
           <div class="card-columns" style="text-align:center">
						<div class="card bg-foundation">
							<div class="card-body">
								<h3 style="color: white;">Top 5 Contributors</h3>
								<div style="display: inline-block; text-align: left;">
									<p class="card-text">
										<i style="color:white" class="fab fa-github" aria-hidden="true"></i> <a style="color: white" href="https://github.com/gitfool"" target="_blank">Sean Fausett</a>
								<br />
								<br />
										<i style="color:white" class="fab fa-github" aria-hidden="true"></i> <a style="color: white" href="https://github.com/KCamp" target="_blank">Kcamp</a>
								<br />
								<br />
										<i style="color:white" class="fab fa-github" aria-hidden="true"></i> <a style="color: white" href="https://github.com/jnm2" target="_blank">Joseph Musser</a>
								<br />
								<br />
										<i style="color:white" class="fab fa-github" aria-hidden="true"></i> <a style="color: white" href="https://github.com/phillipsj" target="_blank">Jamie Phillips</a>
									<br />
									<br />
										<i style="color:white" class="fab fa-github" aria-hidden="true"></i> <a style="color: white" href="https://github.com/JonCubed" target="_blank">Joanthan Kuleff</a>
									</p>
								</div>
							</div>
						</div>
						<div style="color:white;" id="issues"></div>
						<div class="card bg-foundation">
							<div class="card-body">
								<h3 style="color: white;">References</h3>
								<p class="card-text">
									<a style="color: white" href="https://github.com/cake-build/cake" target="_blank">GitHub Repo</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="https://cakebuild.net/" target="_blank">Project Website</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="https://github.com/cake-build/cake/discussions" target="_blank">Community</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="https://cakebuild.net/docs/" target="_blank">Documentation</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="https://github.com/cake-build/cake#contributing" target="_blank">Contribute</a>
								</p>
							</div>
						</div>
						</div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
				<div id="project-description">
					            <h1>
             Project Description
            </h1>
Cake (C# Make) is a cross-platform build automation system with a C# DSL for tasks such as compiling code,
copying files and folders, running unit tests, compressing files and building NuGet packages.
                                                             It ships both as a <a href="https://www.nuget.org/packages/Cake.Tool/" target="_blank">.Net Global Tool</a> and a <a href="https://www.nuget.org/packages/Cake/" target="_blank">.Net Framework executable</a>.
Out of the box it contains a number of different aliases to allow you to quickly orchestrate your build process, such as MSBuild, DotNet Core CLI,
NuGet, and Chocolatey.  In addition, there are over 280 community driven addins (https://www.nuget.org/profiles/cake-contrib) which allow you
to perform other build tasks. For information on getting started with Cake, reference the <a href="https://cakebuild.net/docs/getting-started/running-cake-scripts" target="blank">Running Cake Scripts Documentation</a>.
				</div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
            <h1>
             Interview
            </h1>
			<br />
				<div id="project-interview">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QkhI4CRq87E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br />
					<br />
					<details>
						<summary>
    						Interview Transcript
						</summary>
						<br />
						<br />
  			  			<p class="mx-auto">
			  				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget velit aliquet sagittis id consectetur. Consectetur libero id faucibus nisl tincidunt eget. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Ut morbi tincidunt augue interdum velit euismod in. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Viverra mauris in aliquam sem. Ut consequat semper viverra nam libero justo laoreet sit. Dictum sit amet justo donec enim. Proin sagittis nisl rhoncus mattis rhoncus. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. Mauris ultrices eros in cursus turpis. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Massa sed elementum tempus egestas sed sed risus. Non blandit massa enim nec dui nunc. Ac tincidunt vitae semper quis lectus nulla.
			  			</p>
			  			<p class="mx-auto">
							Amet volutpat consequat mauris nunc congue nisi. Facilisis gravida neque convallis a. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Non consectetur a erat nam at lectus urna duis convallis. Dui vivamus arcu felis bibendum. A cras semper auctor neque vitae tempus quam pellentesque nec. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tortor at risus viverra adipiscing at in tellus integer feugiat. Cursus mattis molestie a iaculis. Sed elementum tempus egestas sed sed risus pretium quam. Tincidunt eget nullam non nisi est. Ut tristique et egestas quis ipsum suspendisse.
						</p>
						<p class="mx-auto">
							Consectetur adipiscing elit pellentesque habitant morbi tristique. Ut consequat semper viverra nam libero justo laoreet sit. Faucibus interdum posuere lorem ipsum dolor sit. Tortor pretium viverra suspendisse potenti. Vel facilisis volutpat est velit. Non enim praesent elementum facilisis leo vel fringilla est. Quisque id diam vel quam elementum pulvinar etiam non. Urna nec tincidunt praesent semper. Elit eget gravida cum sociis natoque penatibus et. Dictum varius duis at consectetur lorem donec massa. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam. Vulputate odio ut enim blandit. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Ultrices gravida dictum fusce ut placerat orci nulla. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Mattis aliquam faucibus purus in massa tempor nec feugiat nisl. Fames ac turpis egestas integer eget aliquet. Commodo odio aenean sed adipiscing diam.
         				</p>
					</details>
				</div>
			</div>
          </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <div id="SearchResults"></div>
                <div id="PresetProjects">
					<h1>Previous Spotlights</h1>
                        <div class="row">
                                <div class="col-lg-4 col-sm-12 alph">
                                    <hr>
                                    <div class="alph-box">
                                        <div class="letter">C</div>
                                        <div class="list">
                                                <a class="project-item" data-project="Channels" href="/projects/spotlight/Cake">Cake</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
(async function () {

	const orgs = "cake-build";
	const repos = [ "Cake" ];

	loadOpenIssues(orgs, repos, true);

})();
</script>