---
title: .NET Foundation Project Spotlight
description: This month's .NET Foundation Project Spotlight
permalink: /projects/spotlight
useFunctionsJS: true
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
            <h1>
             PROJECT NAME
            </h1>
			<br />
			<div id="project-owners">
				Project Owners: Isaac Levin, Isaac Levin
			</div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
				<div id="project-description">
					            <h1>
             Project Description
            </h1>
			  		<p class="mx-auto"></p>
			  			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget velit aliquet sagittis id consectetur. Consectetur libero id faucibus nisl tincidunt eget. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Ut morbi tincidunt augue interdum velit euismod in. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Viverra mauris in aliquam sem. Ut consequat semper viverra nam libero justo laoreet sit. Dictum sit amet justo donec enim. Proin sagittis nisl rhoncus mattis rhoncus. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. Mauris ultrices eros in cursus turpis. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Massa sed elementum tempus egestas sed sed risus. Non blandit massa enim nec dui nunc. Ac tincidunt vitae semper quis lectus nulla.
			  		</p>
			  		<p class="mx-auto">
						Amet volutpat consequat mauris nunc congue nisi. Facilisis gravida neque convallis a. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Non consectetur a erat nam at lectus urna duis convallis. Dui vivamus arcu felis bibendum. A cras semper auctor neque vitae tempus quam pellentesque nec. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tortor at risus viverra adipiscing at in tellus integer feugiat. Cursus mattis molestie a iaculis. Sed elementum tempus egestas sed sed risus pretium quam. Tincidunt eget nullam non nisi est. Ut tristique et egestas quis ipsum suspendisse.
					</p>
					<p class="mx-auto">
						Consectetur adipiscing elit pellentesque habitant morbi tristique. Ut consequat semper viverra nam libero justo laoreet sit. Faucibus interdum posuere lorem ipsum dolor sit. Tortor pretium viverra suspendisse potenti. Vel facilisis volutpat est velit. Non enim praesent elementum facilisis leo vel fringilla est. Quisque id diam vel quam elementum pulvinar etiam non. Urna nec tincidunt praesent semper. Elit eget gravida cum sociis natoque penatibus et. Dictum varius duis at consectetur lorem donec massa. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam. Vulputate odio ut enim blandit. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Ultrices gravida dictum fusce ut placerat orci nulla. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Mattis aliquam faucibus purus in massa tempor nec feugiat nisl. Fames ac turpis egestas integer eget aliquet. Commodo odio aenean sed adipiscing diam.
         			</p>
				</div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
            <h1>
             Interview
            </h1>
			<br />
				<div id="project-interview">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/QkhI4CRq87E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br />
					<br />
					<details>
						<summary>
    						Interview Transcript
						</summary>
						<br />
						<br />
  			  			<p class="mx-auto">
			  				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget velit aliquet sagittis id consectetur. Consectetur libero id faucibus nisl tincidunt eget. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Ut morbi tincidunt augue interdum velit euismod in. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Viverra mauris in aliquam sem. Ut consequat semper viverra nam libero justo laoreet sit. Dictum sit amet justo donec enim. Proin sagittis nisl rhoncus mattis rhoncus. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. Mauris ultrices eros in cursus turpis. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Massa sed elementum tempus egestas sed sed risus. Non blandit massa enim nec dui nunc. Ac tincidunt vitae semper quis lectus nulla.
			  			</p>
			  			<p class="mx-auto">
							Amet volutpat consequat mauris nunc congue nisi. Facilisis gravida neque convallis a. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Non consectetur a erat nam at lectus urna duis convallis. Dui vivamus arcu felis bibendum. A cras semper auctor neque vitae tempus quam pellentesque nec. Sem viverra aliquet eget sit amet tellus cras adipiscing. Tortor at risus viverra adipiscing at in tellus integer feugiat. Cursus mattis molestie a iaculis. Sed elementum tempus egestas sed sed risus pretium quam. Tincidunt eget nullam non nisi est. Ut tristique et egestas quis ipsum suspendisse.
						</p>
						<p class="mx-auto">
							Consectetur adipiscing elit pellentesque habitant morbi tristique. Ut consequat semper viverra nam libero justo laoreet sit. Faucibus interdum posuere lorem ipsum dolor sit. Tortor pretium viverra suspendisse potenti. Vel facilisis volutpat est velit. Non enim praesent elementum facilisis leo vel fringilla est. Quisque id diam vel quam elementum pulvinar etiam non. Urna nec tincidunt praesent semper. Elit eget gravida cum sociis natoque penatibus et. Dictum varius duis at consectetur lorem donec massa. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam. Vulputate odio ut enim blandit. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Ultrices gravida dictum fusce ut placerat orci nulla. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Mattis aliquam faucibus purus in massa tempor nec feugiat nisl. Fames ac turpis egestas integer eget aliquet. Commodo odio aenean sed adipiscing diam.
         				</p>
					</details>
				</div>
			</div>
          </div>
        </div>
    </div>
</section>


<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
          <div class="page-section_column col-12 text-center">
			<h1>
             Get Involved
            </h1>
           <div class="card-columns" style="text-align:center">
						<div class="card bg-foundation">
							<div class="card-body">
								<h3 style="color: white;">Top 5 Contributors</h3>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Isaac Levin!!!</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Isaac Levin!!!</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Isaac Levin!!!</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Isaac Levin!!!</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Isaac Levin!!!</a>
								</p>
							</div>
						</div>
						<div style="color:white;" id="issues"></div>
						<div class="card bg-foundation">
							<div class="card-body">
								<h3 style="color: white;">References</h3>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">GitHub Repo</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Project Website</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Community</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Documentation</a>
								</p>
								<p class="card-text">
									<a style="color: white" href="${issue.issueUrl}" target="_blank">Contribute</a>
								</p>
							</div>
						</div>
						</div>
        </div>
    </div>
</section>
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <div id="SearchResults"></div>
                <div id="PresetProjects">
					<h1>Previous Spotlights</h1>
                        <div class="row">
                                <div class="col-lg-4 col-sm-12 alph">
                                    <hr>
                                    <div class="alph-box">
                                        <div class="letter">P</div>
                                        <div class="list">
                                                <a class="project-item" data-project="Channels" href="/projects/spotlight/PresenceLight">PresenceLight</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
(async function () {

	const orgs = "";
	const repos = [ "" ];

	loadOpenIssues(orgs, repos, true);

})();
</script>