---
title: .NET Foundation Submit Project
permalink: /projects/submit
---

<section class="page-section page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
              <h1 id="new-project-onboarding">New Project Onboarding</h1>
              <p>Hello! We are excited you are interested in bringing your project over to the .NET Foundation family! To ensure the process is transparent and runs smoothly, we have put together a walk-through of the onboarding process to guide you. Once you start the
	              application process, we will work with you throughout to complete the work.</p>
              <h2 id="your-project-and-the.net-foundation">Your Project and the .NET Foundation</h2>
              <p>Participation in the .NET Foundation exposes your project to the wider world of .NET developers and helps you to build a better community. The following details the three main steps you and your project will complete to join the .NET Foundation.</p>
              <p>The .NET Foundation has established a set of <a href="/projects/net-foundation-project-committee#eligibility-criteria">eligibility criteria</a> that your project must meet. Please review these and ensure your project meets all the specified criteria.</p>
              <p>When you are ready to apply to join, <a href="https://github.com/dotnet-foundation/projects/issues/new?assignees=&amp;labels=project+application&amp;template=application.md&amp;title=">fill out a new project application</a></p>
              <h2 id="joining-the.net-foundation">Joining the .NET Foundation</h2>
              <p>Joining the .NET Foundation involves submitting an application, review of the project by the .NET Foundation board, signing the Contribution License Agreement (CLA) once it’s been accepted and completing a set of post on-boarding steps. We will walk through
	              them all in detail below so it’s an easy and straightforward process.</p>
              <p><strong>Step 1:</strong> Project application and review by the .NET Foundation Board</p>
              <p><strong>Step 2:</strong> Signing the CLA</p>
              <p><strong>Step 3:</strong> Project Onboarding</p>
              <h2 id="project-application-and-review-by-the.net-foundation-board">Project Application and Review by the .NET Foundation Board</h2>
              <p>When you are ready to apply to join, <a href="https://github.com/dotnet-foundation/projects/issues/new?assignees=&amp;labels=project+application&amp;template=application.md&amp;title=">fill out a new project application</a></p>
              <p>You can complete the application in GitHub directly, email us a copy of the document, or attach a copy of the document to the GitHub issue. To help with some of the common questions in the application or to provide clarification on certain items, we’ve
	              included extra details to help you along.</p>
                    <p><strong>Assignment Model.</strong> Under the .NET Foundation assignment model, a project transfers ownership of the copyright to the .NET Foundation. The project also confirms
	              that the project’s submissions to .NET Foundation are its own original work (there are also instructions for any third party materials that might be included).</p>
              <p><strong>Contribution Model.</strong> Under the .NET Foundation contribution model, a project retains ownership of the copyright, but grants .NET Foundation a broad license to the project’s code and other intellectual property. The project also confirms
	              that the project’s submissions to .NET Foundation are its own original work (there are also instructions for any third party materials that might be included).</p>
              <p><strong>Review Process.</strong> Once you’ve submitted the issue, it will be reviewed by the Project Review committee and they will follow up with any questions on your application. After the review is complete and it’s ready to move forward, the .NET
	              Foundation Board will review it. The Board meets monthly and reviews new projects sent over from the Project Review committee. After the board votes to approve a new project, signing the CLA is up next.</p>
              <h2 id="signing-the-cla">Signing the CLA</h2>
              <p>After the .NET Foundation board approves the project, it’s time to sign the CLA and move the project to the .NET Foundation. To setup and distribute the CLA, we will need a few pieces of information from you:</p>
              <ul>
	              <li><strong>Project Transfer Signatories:</strong> This should be the top contributors, typically the top 2-5 developers who have contributed more than a few hundred lines of code.
		              <ul>
			              <li>We will need their email addresses, so we can send the CLA for signing (we currently use DocuSign).</li>
		              </ul>
	              </li>
	              <li><strong>Project Trademarks - Licensed vs Disclaimed.</strong> When signing the CLA you are asked to describe and choose how you want to handle any trademarks for the project. These include the project name, at a minimum, and potentially any logos or
		              other recognizable, non-descriptive titles used within the project – these do not need to be formally registered trademarks.</li>
              </ul>
              <p>By default, the .NET Foundation selects <strong>Licensed</strong> in the CLA</p>
              <table>
	              <thead>
		              <tr>
			              <th>Type</th>
			              <th>What it Means</th>
			              <th>Why you'd select it <img width="900/"></th>
		              </tr>
	              </thead>
	              <tbody>
		              <tr>
			              <td>Licensed</td>
			              <td>Project retains ownership of any trademarks and licenses the .NET Foundation to use them.</td>
			              <td>This follows the same ownership/license structure as the copyright in the project. The project keeps ownership in the trademarks and .NET Foundation only has the rights that are specifically granted in the license. The project still retains the rights
				              to enforce its rights in the trademarks.</td>
		              </tr>
		              <tr>
			              <td>Disclaimed</td>
			              <td>Project agrees not to enforce the trademark against the .NET Foundation or anyone else.</td>
			              <td>The project doesn’t claim any ownership rights to the trademarks and does not plan to control how .NET Foundation decides to use the trademarks.</td>
		              </tr>
	              </tbody>
              </table>
              <p>Once we have the signatories identified, we will send out the CLA via DocuSign for everyone to complete. Once all parties have signed it and we’ve filed it away, we move forward with onboarding the project itself.</p>
              <h2 id="project-onboarding">Project Onboarding</h2>
              <p>The last stage of joining the .NET Foundation involves a set of activities to bring your project in line with all .NET Foundation projects and help you join the broader .NET Foundation community. These items will all be tracked via the GitHub issue (that
	              was created when you filled out your project application) and additional details are included in a detailed email you will receive.</p>
              <table>
	              <thead>
		              <tr>
			              <th>Tasks</th>
			              <th>Background</th>
		              </tr>
	              </thead>
	              <tbody>
		              <tr>
			              <td>Configure CLA bot</td>
			              <td>detailed description needed</td>
		              </tr>
		              <tr>
			              <td>Mailing List</td>
			              <td>Join the project leader mailing list</td>
		              </tr>
		              <tr>
			              <td>Slack channel</td>
			              <td>Joing the project leader slack channel</td>
		              </tr>
		              <tr>
			              <td>License updates + copyright</td>
			              <td>Move your license to MIT (or continue to use Apache)</td>
		              </tr>
		              <tr>
			              <td>Code of Conduct</td>
			              <td>Review and add to your README</td>
		              </tr>
		              <tr>
			              <td>Project list</td>
			              <td>Get your project included on the project list on the .NET Foundation website</td>
		              </tr>
		              <tr>
			              <td>Project layout</td>
			              <td>Adjust your project layout to conform to .NET Foundation guidelines</td>
		              </tr>
		              <tr>
			              <td>README updates</td>
			              <td>Updates to your README for the .NET Foundation</td>
		              </tr>
		              <tr>
			              <td>Website updates</td>
			              <td>Updates to your project website (if you have one outside of GitHub)</td>
		              </tr>
	              </tbody>
              </table>
              <h2 id="thats-it-you-are-done">That's it!  You are done!</h2>
              <p>Once we’ve completed all the above, your project will be full on-boarded to the .NET Foundation! We are definitely excited to have your project join!</p>
            </div>
        </div>
    </div>
</section>
