---
permalink: /projects/why-join
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Why should my project join the .NET Foundation?
                </h1>
                <p class="mx-auto">
                    The .NET Foundation provides several services to support the projects in our community.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 id="administrative-services-net-foundation">
                    Administrative Services the .NET Foundation provides for projects
                </h2>
                <p>
                    If you're currently running a project along these lines, or if you 're interested in kicking off a new idea,
                    please take a look at our <a href="/projects/submit">New Project Checklist</a>.
                </p>
                <h3>Management and administrative nitty-gritty</h3>
                <h4>Project guidance and mentoring</h4>
                <p>
                    New projects joining us will get mentorship on how to best run an open source community along with access
                    to developers currently seeking .NET projects. We work with project leads to help ensure the project grows
                    into a vibrant and welcoming community. And of course, we love to share best practices for managing a friendly,
                    collaborative, and innovative open source workplace, wherever you may be.
                </p>
                <h4>
                    IP and legal
                </h4>
                <p>
                    Legal can be tricky. We can help. Projects in our organization will get assistance to organize and manage their
                    IP assignments as well as infrastructure for tracking common, simple, Contribution License Agreements across all
                    .NET Foundation projects. We can also help ensure that your collaborators respect the open source licenses and trademarks
                    of projects assigned to the .NET Foundation. Need advice on legal issues? We offer support there as well.
                </p>
                <h4>
                    Marketing and communications
                </h4>
                <p>
                    The more people who know about .NET, the better for the ecosystem. We work with Amazon, JetBrains, Microsoft, Progress, and other industry leaders
                    to improve your project 's exposure within the community at large. Your success is our success-we'd love to see you
                    achieve the accolades you deserve!
                </p>
                @* <h4>
                    Financial support
                </h4>
                <p>
                    [Need new verbiage here for grants]
                </p> *@
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 id="technical-services">Technical Services the .NET Foundation provides for projects</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                General services
                            </h4>
                            <p>
                                We provide support services for our projects including Authenticode code-signing of binaries and
                                installers, binary distribution management, forums, hosting, shared secret storage, online and phone
                                conferencing as well as document collaboration facilities and access to software.
                            </p>
                            <h4>
                                CLA management
                            </h4>
                            <p>
                                Our automated CLA system has been working well for GitHub-based projects, with a very high rate of
                                developers able to easily sign their Contribution License Agreements electronically. This service is
                                offered with full automated notification to the project committers regarding the CLA status of a pull request author.
                            </p>
                            <h4>
                                Secret management
                            </h4>
                            <p>
                                Get a secure vault to store secrets related to your project (social media credentials, website logins, etc.).
                                Share credentials securely between trusted maintainers on your project, or simply enjoy the peace of mind that they're safely saved
                            </p>                          
                            <h4>
                                Code signing
                            </h4>
                            <p>
                                We've implemented an automated service to Authenticode signing your release MSIs, EXEs, and NuGet packages with the
                                .NET Foundation code signing certificate. The certificate is well known to Windows Smart Screen, so people can install
                                your open-source application without warnings. It also allows for consuming applications knowing that the binary
                                downloaded is the one created on your build server.
                            </p>
                            <h4>
                                Hosting
                            </h4>
                            <p>
                                We provide hosting for a number of .NET Foundation project resources in Microsoft Azure. We have a .NET Foundation Office
                                365 account with SharePoint Online, Exchange, and more.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h4>
                                Software
                            </h4>
                            <p>
                                If your maintainers need access to certain software to enable them to work more effectively on their open source projects,
                                contact us and we can talk with vendors on your behalf. Microsoft has sponsored a number of MSDN subscriptions for
                                .NET Foundation project contributors over the past 12 months.
                            </p>
                            <h4>
                                Azure DevOps
                            </h4>
                            <p>
                                The .NET Foundation has a dedicated Azure DevOps instance, which allows projects to use as many agents in Pipelines 
                                as they need and provide storage for CI feeds with Artifacts.
                            </p>
                            <h4>
                                Domain and DNS registration
                            </h4>
                            <p>
                                Just let us know if you'd like the .NET Foundation to safeguard your project domain names or assist with DNS configuration.
                            </p>
                            <h4>
                                What have we missed?
                            </h4>
                            <p>
                                That's the bulk of what we offer, but who knows what might come up? We're always looking to expand our list of offerings
                                to help you get your project done with the fewest hurdles. If there is anything we can do to help your project be more
                                successful, please get in touch.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>