/* Variables */
/* Animations */
@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
}

#home-hero_container {
  background-image: url("../img/home_hero.jpg");
  background-image: url("../img/home_hero.webp");
  padding-top: 13vw;
  padding-bottom: 8vw;
  padding-left: 15px;
  padding-right: 15px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#home-hero_overlay {
  top: -15%;
  left: 0;
  width: 100%;
  height: 115%;
  background: rgba(104, 33, 122, 0.3);
  background: linear-gradient(rgba(104, 33, 122, 0.3) 0%, rgba(104, 33, 122, 0.3) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

#home-hero_content {
  text-align: center;
  color: #fff;
}

#home-hero_title {
  font-size: 4rem;
  font-family: 'Bree Serif', serif;
}

#home-hero_copy {
  max-width: 75rem;
  font-size: 1.8rem;
}

#home-DATS_container {
  background-image: url("../img/DATS-banner.png");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-DATS-content {
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .home-DATS-content {
    max-width: 60%;
  }
}

.home-DATS-title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  line-height: 1.2;

  strong {
    display: block;
    font-size: 3rem;
  }
}

.home-DATS-date {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 968px) {
  .home-DATS-title {
    font-size: 3rem;

    strong {
      font-size: 4rem;
    }
  }

  .home-DATS-date {
    font-size: 2.5rem;
  }
}

.home-DATS-logo {
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media screen and (min-width: 768px) {
  .home-DATS-logo {
    width: 350px;
  }
}

@media screen and (max-width: 615px) {
  #home-hero_buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 615px) {
  .home-hero_button + .home-hero_button {
    margin-top: 2rem;
  }
}

#home-meetup {
  background: url("../img/ladies_bg.png");
  background: url("../img/ladies_bg.webp");
  background-size: cover;
  background-position: center 30%;
  position: relative;
}

#home-meetup_container {
  position: relative;
  z-index: 1;
}

#home-meetup_image {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

#home-meetup_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(41.666667% + (100vw - 960px) / 12);
  height: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 960px) {
  #home-meetup_overlay {
    width: 41.666667%;
  }
}

@media screen and (max-width: 575px) {
  #home-meetup_overlay {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
  }
}

#home-featured-project {
  background: url("../img/ladies_bg.png");
  background: url("../img/ladies_bg.webp");
  background-size: cover;
  background-position: center 30%;
  position: relative;
}

#home-featured-project_container {
  position: relative;
  z-index: 1;
}

#hhome-featured-project_image {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

#hhome-featured-project_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(41.666667% + (100vw - 960px) / 12);
  height: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 960px) {
  #hhome-featured-project_overlay {
    width: 41.666667%;
  }
}

@media screen and (max-width: 575px) {
  #home-featured-project_overlay {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
  }
}

#home-incubating-project {
  background: url("../img/ladies_bg.png");
  background: url("../img/ladies_bg.webp");
  background-size: cover;
  background-position: center 30%;
  position: relative;
}

#home-incubating-project_container {
  position: relative;
  z-index: 1;
}

#home-incubating-project_image {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

#hhome-incubating-project_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(41.666667% + (100vw - 960px) / 12);
  height: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 960px) {
  #home-incubating-project_overlay {
    width: 41.666667%;
  }
}

@media screen and (max-width: 575px) {
  #home-incubating-project_overlay {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
  }
}

#home-whiteboard {
  background-image: url("../img/whiteboard_guy_with_dotbot_.png");
  background-image: url("../img/whiteboard_guy_with_dotbot_.webp");
  background-size: cover;
  background-position: center 60%;
  position: relative;
}

#home-whiteboard_container {
  position: relative;
  z-index: 1;
}

#home-whiteboard_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 33, 122, 0.2);
}

details {
  width: 100%;
  min-height: 5px;

  /* max-width: 700px; */
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;

  + details {
    margin-top: 20px;
  }

  &[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }

  p {
    color: #000000;
    font-weight: 300;
  }
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;

  &:focus {
    outline: none;
    color: #68217a;
    box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px rebeccapurple;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] {
  .control-icon-close {
    display: initial;
    transition: .3s ease;
  }

  .control-icon-expand {
    display: none;
  }

  summary:hover::after {
    animation: pulse 1s ease;
  }
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.committee_container ul li {
  font-size: 14px;
}