---
permalink: /corporate-sponsors
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Corporate Sponsors
                </h2>
                <p class="mx-auto">
                [Need a little description]
                </p>
                <div class="mx-auto d-flex justify-content-between">
                    <a href="/membership/corporate-sponsors" class="site-button site-button--pink">Corporate Sponsors</a>
                    <a href="/membership/profile" class="site-button site-button--pink">Profile</a>
                    <a href="/membership/become-a-member" class="site-button site-button--pink">Become a Member</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <p>
                    We're inviting the .NET community to take an active role in guiding and supporting the .NET Foundation,
                    and that includes both individual open source developers and businesses that depend on .NET open source.
                    We think it's really important to involve corporate sponsors as a key part of this change for three reasons.
                </p>
                <p>
                    First, for the .NET Foundation to really be independent and community run, it needs to be independently funded.
                    In the past, we've depended on (greatly appreciated!) donations from Microsoft. Going forward, we'll be funded by
                    Corporate Sponsorships and Member Dues. Microsoft's donation as a Corporate Sponsor will now be a relatively small
                    percentage of our funding.
                </p>
                <p>
                    Secondly, Corporate Sponsorship really expands what the .NET Foundation can do - not just by having a bigger budget,
                    but by being able to make long term plans based on annual dues payments.
                </p>
                <p>
                    Third, Corporate Sponsorship directly involves the .NET corporate world in the .NET open source ecosystem, which is
                    important! We'll have input from companies that depend on .NET open source, we'll be able to tackle some hard problems
                    like how companies can be involved in sustainable community run open source projects.
                </p>
                <p>
                    If you're interested in learning more about the sponsorship program, get in touch: <a href="contact@dotnetfoundation.org">contact@dotnetfoundation.org</a>
                </p>
            </div>
        </div>
    </div>
</section>