---
layout: _layout
permalink: /community
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Community
                </h2>
                <p class="mx-auto">
                    We need you! Community involvement is what makes the .NET Foundation such a resounding success.
                    Contribute to a project in need, attend or host a meetup, and help us shape the initiatives that are important to you by joining a <a href="/community/committees">committee</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Diversity and Inclusion
                </h2>
                <p>
                    The .NET community is a large, global, diverse group of people from many backgrounds and cultures. 
                    Different perspectives fuels innovation. The .NET Foundation works to create a supportive and welcoming community and 
                    we expect everyone to treat everybody with respect in accordance with our <a href="/about/code-of-conduct">Code of Conduct</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    I am .NET Showcase
                </h2>
                <p>
                    Show off your love for .NET by taking a picture of your favorite .NET gear and posting it on Twitter with hashtag #dotnetlovesme.
                </p>
            </div>
        </div>
    </div>
</section>
