---
Title: Blog
PageTitle: Recent Posts
---
<section class="page-section page-section">
  <div class="page-section_container container">
    <div class="page-section_row row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-9">
            @Html.Partial("_posts.cshtml", Outputs[nameof(Statiq.Web.Pipelines.Content)]
                .Flatten()
                .FilterSources("blog/posts/*")
                .OrderByDescending(doc => doc.GetDateTime("Published"))
                .Take(5))
          </div>
          <div class="col-md-3">
            @Html.Partial("_archives.cshtml")
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section head { 
    <link type="application/rss+xml" rel="alternate" title="Blog" href="/api/rss/" />
}