---
layout: _layout
permalink: /about/board-of-directors
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Board of Directors, Advisory Council & Administrative Team
                </h2>
                <p>[Need a little description of what Board of Directors does]</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="board-of-directors">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2>Board of Directors</h2>
                <div class="row">
                    @Html.Partial("../_partials/_member-small-card.cshtml",
                        Outputs[nameof(Statiq.Web.Pipelines.Content)]
                            .Flatten()
                            .FilterSources(Context, "data/campaign-2019/*")
                            .Where(candidate => candidate.GetBool("elected"))
                            .OrderBy(candidate => candidate.GetString("title"))
                    )
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light" id="team">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 id="team">Our Team</h2>
                <div class="row">
                    @Html.Partial("../_partials/_team-member-card.cshtml",
                    Outputs[nameof(Statiq.Web.Pipelines.Content)]
                        .Flatten()
                        .FilterSources(Context, "data/team/*.md")
                        .OrderBy(candidate => candidate.GetInt("order"))
                    )
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="advisory-council">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <h2 id="advisory-council">.NET Advisory Council</h2>
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Shaun Walker (Chair)</h4>
                        <div class="col-md-3-body">
                            <p><span>Software Architect. Ex-Project leader for DotNetNuke open source product and ecosystem.</span></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Dominick Baier</h4>
                        <div class="col-md-3-body">
                            <p>Project leader of the identity &amp; access control libraries for .NET</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Mirco 'meebey' Bauer</h4>
                        <div class="col-md-3-body">
                            <p>CTO of cryptocurrency exchange Gatecoin Ltd.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Martin Woodward</h4>
                        <div class="col-md-3-body">
                            <p>Vice President of the .NET Foundation and a former Executive Director. Principal Program Manager at Microsoft.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Brendan Forster</h4>
                        <div class="col-md-3-body">
                            <p>Staff Software Engineer at GitHub, frequent .NET open source contributor.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Immo Landwerth</h4>
                        <div class="col-md-3-body">
                            <p><span>Senior Engineer from Microsoft .NET Framework team helping lead open source initiatives.</span></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Daniel Roth</h4>
                        <div class="col-md-3-body">
                            <p><span>Program Manager from Microsoft on the ASP.NET team.</span></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Bill Wagner</h4>
                        <div class="col-md-3-body">
                            <p>.NET Content Creator at Microsoft, Humanitarian Toolbox contributor, author and speaker for .NET technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
