---
permalink: /about/election
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2 id="net-foundation-elections">
                    .NET Foundation Elections
                    <a class="anchorjs-link " href="#net-foundation-elections" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
                </h2>
                <p class="mx-auto">
                    This is your .NET Foundation! Get involved by voting for - or possibly running for - our next Board of Directors.
                </p>
                <div class="mx-auto d-flex justify-content-between site-button_row">
                    <a href="/about/election/results" class="site-button site-button--pink">Meet The New Board!</a>
                    <a href="/about/election/candidates" class="site-button site-button--pink">View the Candidates</a>
                    <a href="/membership/become-a-member" class="site-button site-button--pink">Become a Voting Member</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section">
    <div class="page-section_container container">
        <h2 id="your-net-foundation">Your .NET Foundation<a class="anchorjs-link " href="#your-net-foundation" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        <p>We recently announced some big changes to the .NET Foundation, and one of the biggest is that we’re moving to a community elected Board of Directors. <strong>We’re expanding the board from three to seven members, with one single seat appointed by Microsoft and the remaining six elected by the community.</strong> This structure will help the .NET Foundation scale and better serve the .NET ecosystem.</p>

        <p>The election results are in! <a href="/results">Meet our next board of directors!</a></p>

        <h2 id="what-does-the-net-foundation-board-do">What does the .NET Foundation Board Do?<a class="anchorjs-link " href="#what-does-the-net-foundation-board-do" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        <p>The board completely runs the .NET Foundation. They decide how the money is spent, what projects join the foundation, what the Executive Director does, what programs the foundation will run or be involved with, what events we’ll sponsor. The board runs the foundation.</p>

        <h2 id="how-do-campaigns-and-elections-work">How Do Campaigns and Elections Work?<a class="anchorjs-link " href="#how-do-campaigns-and-elections-work" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        <ul>
            <li>.NET Foundation Voting Members are elegible to both vote in the election and run for a board seat. If you’re not a member yet, <a href="membership/become-a-member">join today!</a></li>
            <li>Candidates will <a href="/campaign">submit a campaign statement</a> and can link off to other information if they want (e.g. video, podcast interviews, projects, etc.) to this site.</li>
            <li>We’d love to see community discussion wherever it happens – Twitter, forums, etc. – following the <a href="/about/code-of-conduct">standard code of conduct</a>.</li>
            <li>In the last week of the election cycle, voting members will cast their votes. We’re using the <a href="https://www.opavote.com/methods/single-transferable-vote">Single Transferable Vote methodology on the OpaVote system</a>.</li>
            <li>The board serves for one year, after which you can choose to run for reelection.</li>
            <li>The campaign period runs from February 28 - March 21, followed by a one week election which will conclude March 28 at 12 PM Pacific time.</li>
            <li>To keep informed, follow us on Twitter at <a href="https://twitter.com/dotnetfdn">&#64;dotnetfdn</a>… or better yet, <a href="http://eepurl.com/dhL_qb">subscribe to our newsletter!</a></li>
        </ul>

        <p>Interested? Watch for our next post with specifics on the elections process, and feel free to ping us at <a href="mailto:contact@dotnetfoundation.org">contact@dotnetfoundation.org</a> with questions.</p>


    </div>
</section>