---
layout: _layout
permalink: /about/net-advisory-council
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    .NET Advisory Council
                </h2>
                <p>[Need a little description]</p>
                <div id="home-hero_buttons" class="mx-auto d-flex justify-content-between">
                    <a href="@DotNetFoundation.AppSettings.BaseRef/about/board-of-directors" class="site-button site-button--pink">Board of Directors</a>
                    <a href="@DotNetFoundation.AppSettings.BaseRef/about/corporate-sponsors" class="site-button site-button--pink">Corporate Sponsors</a>
                    <a href="@DotNetFoundation.AppSettings.BaseRef/about/technical-steering-group" class="site-button site-button--pink">Technical Steering Group</a>
                    <a href="@DotNetFoundation.AppSettings.BaseRef/about/net-advisory-council" class="site-button site-button--pink">.NET Advisory Council</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Shaun Walker (Chair)</h4>
                        <div class="col-md-3-body">
                            <p><span>Software Architect. Ex-Project leader for DotNetNuke open source product and ecosystem.</span></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Dominick Baier</h4>
                        <div class="col-md-3-body">
                            <p>Project leader of the identity &amp; access control libraries for .NET</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Mirco 'meebey' Bauer</h4>
                        <div class="col-md-3-body">
                            <p>CTO of cryptocurrency exchange Gatecoin Ltd.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Martin Woodward</h4>
                        <div class="col-md-3-body">
                            <p>Vice President of the .NET Foundation and a former Executive Director. Principal Program Manager at Microsoft.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Brendan Forster</h4>
                        <div class="col-md-3-body">
                            <p>Staff Software Engineer at GitHub, frequent .NET open source contributor.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Immo Landwerth</h4>
                        <div class="col-md-3-body">
                            <p><span>Senior Engineer from Microsoft .NET Framework team helping lead open source initiatives.</span></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Daniel Roth</h4>
                        <div class="col-md-3-body">
                            <p><span>Senior Engineer from Microsoft ASP.NET Framework team helping lead open source initiatives.</span></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="col-md-3-name">Bill Wagner</h4>
                        <div class="col-md-3-body">
                            <p>.NET Content Creator at Microsoft, Humanitarian Toolbox contributor, author and speaker for .NET technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
