---
permalink: /find-a-meetup
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Find A Meetup!
                </h1>
                <p class="mx-auto">
                    .NET meetups are a great and fun way of meeting other like-minded developers, and joining one couldn't be easier.
                    Learn about tricks & tips, discover the latest .NET has to offer, or just come to be inspired.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container-fluid">
        <a href="https://www.meetup.com/pro/dotnet">
            <picture class="img-fluid w-100">
                <source srcset="img/meetup_map.webp" type="image/webp" />
                <img class="img-fluid w-100" src="img/meetup_map.png" alt="meetup map" />
            </picture>
        </a>
    </div>
</section>
