---
title: Get Involved | .NET Foundation
permalink: /get-involved
useFunctionsJS: true
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>Get Involved</h2>
                <p class="mx-auto">
                    Here's how to get involved with the .NET Foundation and Projects within the Foundation.
                    Below are Open Help Wanted Issues with Foundation GitHub Repositories.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Foundation GitHub Repos
                </h2>
                <div class="card-columns" style="text-align:center">
                    <div style="color:white;" id="issues"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
(async function () {
  const orgs = "dotnet-foundation";
  const repos = [
    "wg-marketing",
    "website",
    "wg-outreach",
    "speaking",
    "membership",
    "newsletter",
    "content",
    "projects",
    "events",
    "wg-education",
    "wg-technical-review",
    "wg-speakers-and-meetups",
    "wg-project-support",
    "wg-membership",
  ];
loadOpenIssues(orgs, repos, "help wanted");
})();
</script>