---
layout: _layout
permalink: /get-involved
isCommunityHome: true
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Community
                </h2>
                <p class="mx-auto">
                    We need you! Community involvement is what makes the .NET Foundation such a resounding success.
                    Contribute to a project in need, attend or host a meetup, and help us shape the initiatives that are important to you by joining a <a href="/community/committees">committee</a>.
                </p>
                <h2>Open Issues</h2>
                <p class="mx-auto">
We urge you to contribute to making the .NET Foundation a better place. Here are a list of open "help-wanted" GitHub Issues where you can help contribute to helping the Foundation.
               <br /><br />
                <span style="color:#68217a ;" id="issues"></span>
                </p>
            </div>
        </div>
    </div>
</section>