---
permalink: /get-involved
isCommunityHome: true
---
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>Get Involved</h2>
                <p class="mx-auto">
                    Here's how to get involved with the .NET Foundation and Projects within the Foundation.
                    Below are Open Help Wanted Issues with Foundation GitHub Repositories, as well as the same for Foundation projects
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Foundation
                </h2>
                <p>
                    <span style="color:white;" id="issues"></span>
                </p>
            </div>
        </div>
    </div>
</section>