---
permalink: /host-a-meetup
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    Host A Meetup
                </h1>
                <p class="mx-auto">

                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--purple--light" id="meetups">
    <div class="container-fluid">
        <picture class="img-fluid w-100">
            <source srcset="img/meetup_map.webp" type="image/webp" />
            <img class="img-fluid w-100" src="img/meetup_map.png" alt="meetup map" />
        </picture>
    </div>
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-sm-8 text-right">
                <h2>
                    Host a meetup
                </h2>
                <p>
                    That map above could always use more pins. If there&apos;s no active group in your area, no problem! You&apos;re the boss now. By hosting a meetup, you&apos;ll not only tap into talent in your area, you&apos;ll make new friends while impressing your boss and beefing up your resume. Win-win-win-win.
                </p>
                <div>
                    <a href="https://aka.ms/add-dotnet-meetup/" class="site-button site-button--pink">Host a meetup</a>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 offset-lg-1 my-auto px-3">
                <img src="img/meetup_hello.svg" alt="Host a meetup"/>
            </div>
        </div>
    </div>
</section>