---
permalink: /community
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Community
                </h2>
                <p class="mx-auto">
                    We need you! Community involvement is what makes the .NET Foundation such a resounding success.
                    Contribute to a project in need, attend or host a meetup, and help us shape the initiatives that are important to you by joining a <a href="/community/committees">committee</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    Diversity and Inclusion
                </h2>
                <p>
                    The .NET community is a large, global, diverse group of people from many backgrounds and cultures.
                    Different perspectives fuels innovation. The .NET Foundation works to create a supportive and welcoming community and
                    we expect everyone to treat everybody with respect in accordance with our <a href="/about/code-of-conduct">Code of Conduct</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row text-left">
            <div class="page-section_column col-12">
                <h2>
                    I am .NET Showcase
                </h2>
                @* <p>
                    Show off your love for .NET by taking a picture of your favorite .NET gear and posting it on Twitter with hashtag #dotnetlovesme.
                </p> *@
                <p>
                    Our .NET community is filled with so many passionate individuals with truly amazing experiences. It spans across every nationality, gender, ethnicity and age group across the globe.
                <br>
                    Join the .NET Foundation in spreading the love for .NET by sharing your story in the “I am .NET” showcase.
                </p>
                 <h3> What is the showcase </h3>
                <p>
                    The .NET Foundation is compiling a collection of short videos from our community members of them sharing stories about what .NET means to them. These videos will be added to a playlist on the .NET Foundation YouTube channel where everyone will be able to view them. Also, randomly chosen entries from this playlist will be featured on the .NET Foundation website.<br>
                    Everyone is welcome to record a video and share their stories in the showcase. This will be a continuously running showcase, so feel free to submit anytime.<br>
                    This is a .NET Foundation initiative, and all participants are required to adhere to the <a href="/about/code-of-conduct">Code of Conduct</a>. <br>
                </p>
               <h3> How to participate </h3>
                <p>We can wait to see your videos and listen to the stories you have to share with us. If you’re interested in submitting a video, here is what you will need to do.</p>
                <ul>
                    <li>Please sign and submit the <a href="https://aka.ms/DNFAppearanceRelease">.NET Foundation release form</a>.</li>
                    <li>Record a short video of yourself talking about the positive experiences you’ve had with .NET.</li>
                    <li>Upload your final video file to a location where we can download it. For example, OneDrive, Dropbox, Google Drive, etc.</li>
                    <li>Send us an email to <a href="mailto:IAmDotNet@dotnetfoundation.org?subject=I%20am%20.NET%20Showcase">IAmDotNet@dotnetfoundation.org</a> with the subject "I am .NET Showcase". Please include instructions on where to retrieve your video.</li>
                </ul>
               <p>To ensure that we have a consistent experience for the showcase, here are some additional guidelines you should follow when creating your video.</p>
               <ul>
	                <li>Please start your dialog with the words “I am [your name] from [country] and I am .NET”.</li>
	                <li>Please tell us what you like about .NET and why you are using it.</li>
	                <li>Try to minimize background noise and movement</li>
	                <li>Take your video in a well-lit area</li>
	                <li>Keep the video between 35 and 45 seconds in length</li>
	                <li>Record your with at least 720p resolution.</li>
	                <li>The rendered video should be in MP4 format.</li>
	                <li>The file name should include your first and last name separated by an underscore</li>
	                <li>Your face should be centered within the video</li>
	                <li>Video frame should be capture should include from the mid chest and above</li>
                </ul>
            </div>
        </div>
    </div>
</section>
