---
title: .NET Meetups | .NET Foundation
description: Find a local .NET user group or start your own and share the joy of .NET with your local community and the world.
permalink: /meetups
---
<style type="text/css">
    .meetup-hero {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('img/meetup_map_new.png');
        background-size: cover;
    }

        .meetup-hero::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: rgba(152, 66, 211, 0.63);
        }
</style>

<!-- Main Header -->
<section class="page-section page-section--purple meetup-hero">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Meetups!
                </h1>
            </div>
        </div>
    </div>
</section>

<!-- Join a Meetup Right -->

<section class="page-section">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-md-8 text-md-right order-2 order-md-1">
                <h2>
                    Find a meetup
                </h2>
                <p>
                    .NET meetups are a great and fun way of meeting other like-minded developers, and joining one couldn't be easier.
                    Learn about tricks & tips, discover the latest .NET has to offer, or just come to be inspired.
                </p>
                <div>
                    <a href="https://www.meetup.com/pro/dotnet" class="site-button site-button--pink">Browse .NET meetups</a>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 order-1 order-md-2 text-center text-lg-left">
                <img src="img/ic_fluent_people_community_add_24_regular.svg" alt="Find a meetup" />
            </div>
        </div>
    </div>
</section>

<!--Virtual User Group Left-->
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 text-center text-lg-left">
                <img src="img/ic_fluent_globe_video_24_regular_white.svg" alt=".NET Virtual User Group" />
            </div>
            <div class="page-section_column col-md-8 text-left">
                <h2>
                    .NET Virtual User Group
                </h2>
                <p>
                    Are you a .NET developer or someone that is interested learning how to build apps across web, mobile, desktop, server and more with .NET? Join the <a href="https://www.meetup.com/dotnet-virtual-user-group/">.NET Virtual User Group</a>, where you can find .NET meetups around the globe that are hosting their events online that you can attend.
                </p>
                <div>
                    <a href="/community/virtual-user-group" class="site-button site-button--pink">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start a meetup Right-->

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-md-8 text-md-right order-2 order-md-1">
                <h2>
                    Start a meetup
                </h2>
                <p>
                    There is always room for more .NET meetups. If there&apos;s no active group in your area, no problem! You&apos;re the boss now. By hosting a meetup, you&apos;ll not only tap into talent in your area, you&apos;ll make new friends while impressing your boss and beefing up your resume. Win-win-win-win.
                </p>
                <div>
                    <a href="https://aka.ms/add-dotnet-meetup/" class="site-button site-button--pink">Register your meetup</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 order-1 order-md-2 text-center text-lg-left">
                <img src="img/meetup_logo.png" alt="Host a meetup" />
            </div>
        </div>
    </div>
</section>

<!--Resources Left -->
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 text-center text-lg-left">
                <img src="img/ic_fluent_reading_list_24_regular.svg" alt="Meetup resources" />
            </div>
            <div class="page-section_column col-md-8 text-left">
                <h2>
                    Meetup resources
                </h2>
                <p>
                    Need some content to present at one of your upcoming meetups? We have you covered with awesome .NET presentation materials including full presentations, workshops, and more.
                </p>
                <div>
                    <a href="/community/resources" class="site-button site-button--pink">Browse resources</a>
                </div>
            </div>
        </div>
    </div>
</section>