---
permalink: /community/resources
title: ".NET Presentations: Events in a Box!"
description: "Welcome to .NET \"Presentations in a Box.\"  We have a listing of workshops and presentations YOU can use AND contribute to! Remix and share, and present at Meetups, User Groups, CodeCamps, or Conferences! Not familiar with .NET? Download open source .NET Core for any OS at <a href=\"https://dot.net\">https://dot.net</a> or try it in your browser at <a href=\"https://try.dot.net\">https://try.dot.net</a> now!"
---

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1 id="net-presentations-events-in-a-box">
                    .NET Presentations, Workshops, Tutorials, & E-books 
                    <a class="anchorjs-link " href="#net-presentations-events-in-a-box" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
                </h1>
                <p class="mx-auto">
                    Welcome to .NET "Presentations in a Box."  We have a listing of workshops and presentations YOU can use AND contribute to! Remix and share, and present at Meetups, User Groups, CodeCamps, or Conferences! Not familiar with .NET? Download open source .NET for any OS at <a href="https://dot.net">https://dot.net</a>!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section_column">
    <div class="page-section_container container">
        <h3 id="net-conf-2020-">.NET Conf Presentations</h3>
        <p>.NET Conf is free virtual event co-organized by the .NET community and Microsoft spread over multiple days where you can come and learn about the newest developments across the .NET platform, open source, and dev tools.</p>
        <ul>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2021/MainEvent">.NET Conf 2021</a></li>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2020/MainEvent">.NET Conf 2020</a></li>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2019">.NET Conf 2019</a></li>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2019">.NET Conf 2018</a></li>
        </ul>

         <h3 id="net-conf-2020-">.NET Conf Focus Events</h3>
        <ul>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2020/FocusOnBlazor">Focus on Blazor</a></li>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2020/FocusOnMicroservices">Focus on Microservices</a></li>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2020/FocusOnXamarin">Focus on Xamarin</a></li>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2021/FocusOnFSharp">Focus on F#</a></li>
            <li><a href="https://github.com/dotnet-presentations/dotNETConf/tree/master/2021/FocusOnWindows">Focus on Windows</a></li>
        </ul>

        <p>Here are the presentations from all .NET Conf events, along with creative content, and info you can use to put on your own <a href="https://www.dotnetconf.net/local-events">.NET Conf Local event</a>!</p>

        <h2 id="workshops">Workshops<a class="anchorjs-link " href="#workshops" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        @Html.Partial("../_partials/_presentation-detail.cshtml", Outputs
                .FromPipeline(nameof(Statiq.Web.Pipelines.Content))
                .FilterSources("community/presentations/*")
                .Where(presentation => string.Equals(presentation.GetString(SiteKeys.Type), "workshop", StringComparison.OrdinalIgnoreCase))
                .OrderBy(x => x.GetTitle())
                )

        <h2 id="presentation-decks">Presentation Decks<a class="anchorjs-link " href="#presentation-decks" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        @Html.Partial("../_partials/_presentation-detail.cshtml", Outputs
                .FromPipeline(nameof(Statiq.Web.Pipelines.Content))
                .FilterSources("community/presentations/*")
                .Where(presentation => string.Equals(presentation.GetString(SiteKeys.Type), "deck", StringComparison.OrdinalIgnoreCase))
                .OrderBy(x => x.GetTitle())
                )

        <h2 id="community-e-books-and-tutorials">Community E-Books and Tutorials<a class="anchorjs-link " href="#community-e-books-and-tutorials" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>

        @Html.Partial("../_partials/_presentation-detail.cshtml", Outputs
                .FromPipeline(nameof(Statiq.Web.Pipelines.Content))
                .FilterSources("community/presentations/*")
                .Where(presentation => string.Equals(presentation.GetString(SiteKeys.Type), "tutorial", StringComparison.OrdinalIgnoreCase))
                .OrderBy(x => x.GetTitle())
                )

        <h2 id="got-a-suggestion-or-fix">Got a suggestion or fix?<a class="anchorjs-link " href="#got-a-suggestion-or-fix" aria-label="Anchor" data-anchorjs-icon="" style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a></h2>
        <p>This site, as well as all of our content, is open source. Content for this page can be contributed <a href="https://github.com/dotnet-foundation/website/tree/main/input/community/presentations">here</a>, and you can contribute to the workshops and decks in their respective repos.</p>

    </div>
</section>
