---
title: .NET Virtual User Group | .NET Foundation
description: Find virtual .NET user groups and events from around the globe that are streamed online completely for free that you can attend today.
permalink: /virtual-user-group
isVirtualUserGroup: true
---
<!-- Main Header -->
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h1>
                    .NET Virtual User Group
                </h1>
                <p class="mx-auto">
                    Find .NET user groups around the globe that are hosting their events online that you can attend.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Join today Right -->

<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-md-8 text-md-right order-2 order-md-1">
                <h2>
                    Join for free today
                </h2>
                <p>
                    Are you a .NET developer or someone that is interested learning how to build apps across web, mobile, desktop, server and more with .NET? Join the .NET Virtual User Group, where you can find .NET user groups around the globe that are hosting their events online that you can attend.
                </p>
                <div>
                    <a href="https://www.meetup.com/dotnet-virtual-user-group/" class="site-button site-button--pink">Join today</a>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 order-1 order-md-2 text-center text-lg-left">
                <img src="img/ic_fluent_people_audience_24_regular.svg" alt="Host a meetup" />
            </div>
        </div>
    </div>
</section>

<!-- Upcoming Events - Left-->
<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-lg-12">
                <h2>Upcoming virtual meetups</h2>
                <div id="PresetEvents"></div>
            </div>
        </div>
    </div>
</section>


<!--Go Online - right -->
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-md-8 text-md-right order-2 order-md-1">
                <h2>
                    Go online with .NET Foundation
                </h2>
                <p>
                    Still looking to get your user group online but don't know where to start? Let the .NET Foundation take care of all of the streaming with our super simple user group hosting platform. The .NET Foundation will create a YouTube event that you can post for your attendees and assist you day of to make your user group a success!
                </p>
                <div>
                    <a href="https://bit.ly/2OohRR2" class="site-button site-button--pink">Request stream support</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 order-1 order-md-2 text-center text-lg-left">
                <img src="img/ic_fluent_globe_video_24_regular.svg" alt="Meetup resources" />
            </div>
        </div>
    </div>
</section>


<!-- Promote Your Online event - Left -->

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 text-center text-lg-left">
                <img src="img/ic_fluent_calendar_24_regular.svg" alt="Host a meetup" />
            </div>
            <div class="page-section_column col-md-8 text-left">
                <h2>
                    Promote your online event
                </h2>
                <p>
                    Are you a .NET user group that is already hosting online meetups? Submit your next meetup to be promoted on the .NET Virtual User Group meetup page. We will add your event to the .NET Virtual User Group meetup page so developers around the globe get notified when your event is happening and can tune in! It is a great way to promote your user group's awesome presentations.
                </p>
                <div>
                    <a href="https://bit.ly/2OohRR2" class="site-button site-button--pink">Submit event</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Browse Past Events - Right -->
<section class="page-section page-section--purple--light">
    <div class="page-section_container container">
        <div class="page-section_row row h-100">
            <div class="page-section_column col-md-8 text-md-right order-2 order-md-1">
                <h2>
                    Past events
                </h2>
                <p>
                    Don't worry if you can't attend an online meetup because we work with .NET user groups around the globe and have a playlist of past events that you can re-watch.
                </p>
                <div>
                    <a href="https://www.youtube.com/playlist?list=PL1rZQsJPBU2S4_ZjpE20DJcPT8okkXPja" class="site-button site-button--pink">Browse past events</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 offset-lg-1 my-auto px-3 order-1 order-md-2 text-center text-lg-left">
                <img src="img/ic_fluent_video_clip_24_regular.svg" alt=".NET Virtual User Group" />
            </div>
        </div>
    </div>
</section>
